@import "../core/theme.scss";
/*
    Global Mixins
*/

@mixin input-success {
    border-color: var(--cirrus-success);

    &:focus {
        box-shadow: 0 0 0 0.2rem transparentize($cirrus-success, 1 - $focus-opacity), inset 0px 1px 8px rgba(0, 0, 0, 0.07);
    }
}

@mixin input-error {
    border-color: var(--cirrus-danger);

    &:focus {
        box-shadow: 0 0 0 0.2rem transparentize($cirrus-danger, 1 - $focus-opacity), inset 0px 1px 8px rgba(0, 0, 0, 0.07);
    }
}