/* The main file for all the CSS styles */

/* -------- DEFAULT -------- */

/* BASE STYLING FOR CIRRUS*/

* {
  margin: 0;
  padding: 0;
  /* Prevent setting borders from increasing the size of an elrement */
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}

/* Nunito Sans for the font */
body {
  letter-spacing: 0.01rem;
    line-height: 1.6;
    font-size: 1rem;
  font-weight: 400;
  font-family: "Nunito Sans", "Segoe UI", "HelveticaNeue", "Helvetica Neue", Helvetica, "Ubuntu", Arial, sans-serif;
  letter-spacing: 0.01rem;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  color: #4a4a4a;
}

/* remove bullets from unordered lists */
ul {
  list-style: none;
}

/* Setting up embedded content */
img,
embed,
object,
audio,
video {
  max-width: 100%;
  height: auto;
}

/* remove iframe borders */
iframe {
  border: 0;
  outline: 0;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

.accent {
  background: -webkit-linear-gradient(bottom, #FF5F6D, #FFC371);
  background: linear-gradient(to top, #FF5F6D, #FFC371);
  color: #fff;
}

.accent-horiz {
  background: -webkit-linear-gradient(left, #FF5F6D, #FFC371) !important;
  background: linear-gradient(to right, #FF5F6D, #FFC371) !important;
}

/* Selection Color */
::-moz-selection { /* Code for Firefox */
    background: rgba(0, 161, 255, 0.2);
}

::selection {
    background: rgba(0, 161, 255, 0.2);
}

/* -------- ANIMATIONS -------- */
/* Spinning loading animation */
@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

/* -------- BUTTONS -------- */
/* Button styling */
/* Un-themed */
.btn, button, [type=submit] {
  display: block;
  line-height: 2.5rem;
  overflow: hidden;
  padding: 0 1.5rem;
  width: auto;
  max-width: 300px;
  border: 1px solid transparent;
  border-radius: .25rem;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  -moz-transition: all .3s;
  background-color: #fefefe;
  border-color: #d9d9d9;
  color: #737373;
  font-size: .75em;
  letter-spacing: .03rem;
  margin: .4rem;
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: 400;
}

.btn:hover, button:hover, [type=submit]:hover {
  -webkit-transition: all .3s;
transition: all .3s;
-moz-transition: all .3s;
background: #eee;
 -webkit-transform: scale(1.1);
         transform: scale(1.1);
}

.btn:active, button:active, [type=submit]:active {
  -webkit-transition: all .3s;
transition: all .3s;
-moz-transition: all .3s;
background: #ccc;
   -webkit-transform: scale(0.97);
           transform: inherit, scale(0.97);
}

.btn:focus, button:focus, [type=submit]:focus {
  outline: none;
}

.btn:disabled, button:disabled, [type=submit]:disabled {
  opacity: 0.8;
cursor: not-allowed;
}

/* Different styles */

/* Outline (white) */
.btn-outline {
    color: #fff;
    background: transparent;
    transition: all .3s;
    border: 1px solid #fff;
}

.btn-outline:hover,
.btn-outline:active {
  background: #fff;
  color: #222;
  transition: all .3s;
}

/* Inverted outline (dark) */
.btn-outline-inverted {
  border: 1px solid #222;
  color: #222;
  background: transparent;
  transition: all 0.3s;
}

.btn-outline-inverted:hover,
.btn-outline-inverted:active {
  color: #fff;
  background: #222;
}

/* Transparent Background */
.btn-transparent {
  background: transparent;
  color: #999;
}

.btn-transparent:hover {
  background: rgba(0, 0, 0, .3);
  color: #999;
  -webkit-transform: none;
          transform: none;
}

.btn-transparent:active {
  background: rgba(0, 0, 0, .5);
  color: #999;
  -webkit-transform: none;
          transform: none;
}

.btn-container { /* Make floated buttons respond to margins */
    overflow: hidden;
}

/* -------- CODE -------- */
code {
  white-space: nowrap;
  border-radius: 4px;
  padding: 1em;
margin: .5em 0;
overflow: auto;
border-radius: 0.3em;
    background: #272822;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* -------- FONT -------- */
@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 4rem; /* 64px */
  letter-spacing: .05rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    color: #363636;
    line-height: 1.125em;
    margin: 1rem 0;
}

.title:not(:last-child), .subtitle:not(:last-child) {
    margin-bottom: 1rem;
}

.accent .subtitle {
    color: rgba(255, 255, 255, 0.9);
}

.title + .subtitle { /* Make the subtitlte closer to the title */
    margin-top: -1.25rem;
}

p, article, blockquote {
  font-size: 1rem;
  line-height: 2rem;
      margin: 2rem 0;
}

/* Weights */
.font-thin {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.rtl {
  direction: rtl;
}

.white {
  color: #fff !important;
}

.faded {
  opacity: 0.75;
}

/* Font Awesome */
.icon { /* Usually used in spans */
  display: inline-block;
font-size: 21px; /* Best font sizes are multiples of 7 */
height: 1.5rem;
line-height: 1.5rem;
text-align: center;
vertical-align: top;
width: 1.5rem;
}

.icon .fa {
    font-size: inherit;
    line-height: inherit;
}
.fa {
    font-size: 21px;
    text-align: center;
    vertical-align: top;
}

.info {
    display: block;
    font-size: 0.75rem;
    margin-top: 5px;
}

.info.success {
  color: #4CAF50;
}

.info.error {
  color: #F44336;
}

/* MOBILE */

@media (max-width: 550px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.75rem;
  }
}


/* -------- FORMS -------- */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"], select {
  width: 100%;
  border: 1px solid #ddd;
  padding: .8rem;
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.05);
  border-radius: 3px;
  color: #5a5a5a;
  font-family: 'Nunito Sans';
  font-size: .85rem;
  letter-spacing: .02rem;
  box-sizing: border-box;
  transition: all .3s;
  outline: none;
  margin: .5rem 0;
   padding: .85rem 1.1rem;
}

textarea, textarea[type=text] {
  width: 100%;
  border: 1px solid #ddd;
  padding: .8rem;
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.05);
  border-radius: 3px;
  color: #5a5a5a;
  font-family: 'Nunito Sans';
  font-size: .85rem;
  letter-spacing: .02rem;
  box-sizing: border-box;
  transition: all .3s;
  outline: none;
  margin: .5rem 0;
   padding: 1rem 1.3rem;
       min-height: 8rem;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus, select:focus, textarea:focus, textarea[type=text]:focus {
    box-shadow: inset 0px 1px 8px rgba(0,0,0,0.1);
    border-color: rgba(0, 102, 255, 0.5);
}

.label:not(:last-child) {
    margin-bottom: 0.5em;
}
.label {
    color: #4a4a4a;
    display: block;
    font-weight: bold;
}

.text-success {
    border-color: #4CAF50 !important;
}

.text-error {
    border-color: #F44336 !important;
}


/* -------- LAYOUT -------- */

.content {
  max-width: 60em;
  margin: 0 auto 1.5em;
  width: 80%;
}

.content blockquote {
  background-color: #f5f5f5;
  border-left: 5px solid #dbdbdb;
  padding: 1.5rem;
}

.content-fluid {
  width: 100%;
  margin: 1.3rem;
}

.fullscreen {
   top:0;
   right:0;
   bottom:0;
   left:0;
   height: 100vh;
   margin-bottom: 1rem;
}

/* This works well with panel */
section {
    display: block;
}

.panel {
    padding: 2.5em 0;
}

/* This works well with spans and maybe even hr */
.divider {
  display: block;
  height: 3px;
  position: relative;
  border-top: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #eee;
      width: 100%;
}

.divider-short {
  max-width: 15rem;
  width: 100%;
}

/* Hero image div */
.hero-img {
  /* Specify the backgroud image yourself */
  background-size: cover;
width: 100%;
height: 100%;
}

.parallax-img {
  background-attachment: fixed !important;
}

.hero { /* Parent of hero-body */
  -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; /* Important to stretch height of hero-body */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.hero-body {
      -    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; /* Tells the hero-body to take up the entire space */
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 3rem 1.5rem;
    -webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}

space {
  display: block;
  width: 100%;
  height: 1em;
}

/* Use for spacing out elements vertically */
.row {
  margin-top: 1.8833%;
  padding: 0 1.04165%; /* Space out top and sides */
}

.row:after {
  content: '';
  clear: both;
  display: table;
}

/* GRID */
.row .col-1 {
  width: 6.42291%;
}

.row .col-2 {
  width: 14.930208%;
}

.row .col-3 {
  width: 23.4375%;
}

.row .col-4 {
  width: 31.94375%;
}

.row .col-5 {
  width: 40.25%;
}

.row .col-6 {
  width: 48.958333%;
}

.row .col-7 {
  width: 57.464583%;
}

.row .col-8 {
  width: 65.970833%;
}

.row .col-9 {
  width: 74.404166%;
}

.row .col-10 {
  width: 82.9833%;
}

.row .col-11 {
  width: 91.489583%;
}

.row .col-12 {
  width: 100%;
}

/* Some offset values */
.row [class^='col-'], .row [class*=" col-"] {
  float: left; /* Keeps the elements in 1 row */
  min-height: 50px;
  margin-left: 2.083333%;
}

.row [class^='col-']:first-child, .row [class*=" col-"]:first-child{
  margin-left: 0;
}


/* MOBILE */
@media screen and (max-width: 768px) {
  .row {
    margin-top: 0;
  }

  .row [class^='col-'], .row [class*=" col-"] { /* Remove the grid structure for smaller screens */
    width: 100%;
    margin-top: 2.0833%;
    margin-left: 0;
  }
}

/* -------- LINKS -------- */
a {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  color: #4D565F;
  text-decoration: none;
  font-weight: 600;
      padding: 2px;
      -webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

a:hover {
  color: #7C8B9A;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  -webkit-backface-visibility:hidden;
         backface-visibility:hidden;
}

a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
	text-decoration:none;
}

/* Animated links */

/* Underline */

.u:after {
  content: "";
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      position: absolute;
      height: 0.1rem;
      width: 0;
      background: #7C8B9A;
      bottom: -0.25em;
}

.u:hover:after {
  width: 100%
}

.u-LR:after { /* Left to Right */
  left: 0;
}

.u-RL:after { /* Right to Left */
  right: 0;
}

.u-RL:hover:after {
  width: 100%;
}

.u-C:after { /* Center Outwards */
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}

/* Underline top and bottom */
.utb:before, .utb:after {
  content: "";
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      position: absolute;
      height: 0.1rem;
      width: 0;
      background: #7C8B9A;
}

.utb:before {
  top: -0.25em;
}

.utb:after {
  bottom: -0.25em;
}

.utb:hover:before, .utb:hover:after {
  width: 100%;
}

.utb-LR:before, .utb-LR:after {
  left: 0;
}

.utb-RL:before, .utb-RL:after {
  right: 0;
}

.utb-C:before, .utb-C:after {
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}

/* Opposite start */
.utb-OLR:before { /* Suffix denotes border transition direction for the top border (left to right). Bottom border will be the opposite direction */
  left: 0;
}

.utb-OLR:after {
  right: 0;
}

.utb-ORL:before {
  right: 0;
}

.utb-ORL:after {
  left: 0;
}

/* Links with square borders */

/* Please note that usquare is the parent span (not div) which would create the left and right borders. The link (.utb-OLR) gets nested within this */

.usquare{
  box-sizing:border-box; /* keeps the border from resizing the link */
  margin-left: 0.4rem;
  position: relative;
  overflow: hidden;
}

.usquare a{
  position: static;
  padding: 0.2rem 0.4rem;
}

.usquare:before, .usquare:after{
  content: "";
  box-sizing: border-box;
  transition: 0.25s all ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  width: 2px;
  width: 0.1 rem;
  height: 0;
  background: #7C8B9A;
}

.usquare:before{
  left: 0;
  bottom: -0.2rem;
}

.usquare.delay:before{
  transition-delay: 0.6s;
}

.usquare:after{
  right: 0;
  top: -0.2rem;
}

.usquare.delay:after{
  transition-delay: 0.2s;
}

.usquare a:before {
  left:0;
  transition: 0.25s all ease;
}

.usquare a:after {
  right:0;
  transition: 0.25s all ease;
}

.usquare.delay a:after {
  transition: 0.25s all ease 0.4s;
}

.usquare:hover:before, .usquare:hover:after{
  height:calc(100% + 0.4rem); /* Makes the left and right borders */
}

.usquare:hover a:before, .usquare:hover a:after{
  width:100%;
}



/* -------- LISTS -------- */
ul {
  list-style: disc inside;
}

ol {
  list-style: decimal inside;
}

dl {

}

li {
  margin: 1rem 0;
}

li:last-child {
  margin-bottom: 1rem;
}

/* -------- UTIL -------- */
/* Utility classes to help solve some very annoying issues */

.this-inline {
  display: inline;
}

.this-inline-block {
  display: inline-block;
}

.this-inline-flex {
  display: -webkit-inline-bpx;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/*
   When using floats, clearfix allows the container to automatically resize so that
   other elements are not blocked by children.
*/

.clearfix:after {
  clear: both;
  content: " ";
  display: table;
}

/* This is mainly to keep elements from overlapping when using floats */
.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.clear-both {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-center {
  text-align: center;
}

/* Center element */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
      margin: 0 auto;
}

.center-alt, .center-alt:hover, .center-alt:active { /* If flexbox method fails, this works for elements with unknown dimensions */
  position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.vertical-center {
  display: flex;
  justify-content: center;
}

.horizontal-center {
  display: flex;
  align-items: center;
}

.this-overlay {
  bottom:0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}

.hide-overflow {
  overflow: hidden !important;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.hide {
  display: none !important;
}

.disabled {
  cursor: not-allowed;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.box {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  display: block;
  padding: 20px;
}

.box:not(:last-child) {
  margin-bottom: 20px;
}

.level {
  -webkit-box-align: center;
-ms-flex-align: center;
-ms-grid-row-align: center;
align-items: center;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
}

.level-left {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; /* Start for left */
}

.level-right {
    -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; /* End for right */
}

.level-item { /* Centers items */
      -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* Do the actual balancing only on larger screens */
@media screen and (min-width: 769px) {
.level, .level-left, .level-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }


}
