.header {
        -webkit-transition: background 0.4s ease, height 0.4s ease;
        transition: background 0.4s ease, height 0.4s ease;
    -webkit-transition-property: background, height;
    transition-property: background, height;
    -webkit-transition-duration: 0.4s, 0.4s;
            transition-duration: 0.4s, 0.4s;
    -webkit-transition-timing-function: ease, ease;
            transition-timing-function: ease, ease;
    -webkit-transition-delay: initial, initial;
            transition-delay: initial, initial;
    -webkit-transition: all .3s;
    transition: all .3s;
    background-color: transparent;
    padding: 2rem 1rem;
    box-shadow: none;
}

.header-fill {
    background-color: rgba(0, 0, 0, 0.87);
    padding: 0 2rem;
         -webkit-transition: background 0.4s ease, height 0.4s ease;
         transition: background 0.4s ease, height 0.4s ease;
    -webkit-transition-property: background, height;
    transition-property: background, height;
    -webkit-transition-duration: 0.4s, 0.4s;
            transition-duration: 0.4s, 0.4s;
    -webkit-transition-timing-function: ease, ease;
            transition-timing-function: ease, ease;
    -webkit-transition-delay: initial, initial;
            transition-delay: initial, initial;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.header a {
    color: #333;
}

.header-btn span {
    background-color: #fff;
}

.hero-body {
    position: relative;
}

#logo {
    max-width: 200px;
}

#version {
    background-color: rgba(255, 255, 255, 0.3);
    max-width: 200px;
    margin: 2rem auto;
}

.padtop {
    margin: 6rem 0;
}

.no-margin {
    margin: 0;
}

span.title {
    margin-left: .5rem;
}

/* Buttons */
#btn1 {
    background-color: #2ecc71;
}

#btn2 {
    background-color: #3498db;
}

#btn3 {
    background-color: #9b59b6;
}

#btn4 {
    background-color: #34495e;
}

#btn5 {
    background-color: #e67e22;
}

.col-fluid.content {
    width: 65%;
}

#grid a {
    position: inherit;
}

.desc {
    vertical-align: bottom;
    font-size: 11px;
    font-family: 'Nunito Sans';
}

/* MOBILE */
@media screen and (max-width: 768px) {
    .padtop {
        margin: 4rem 0;
    }
}