.header {
    
    &.translucent {
        background: rgba(0, 0, 0, 0.87) !important;
    }
    
    &.header--docs-theme {
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, 0.80);
    }

    .header__contents {
        display: flex;
        max-width: 1920px;
    }
}

@media screen and (max-width: 768px) {
    .header .header__contents {
        display: block;
    }
}