.page-layout {
    display: grid;
    grid-template-columns: minmax(
        0,
        1fr
    ); /* Everything else before that table of contents bar fills width, toc uses 15rem */
    max-width: 90rem;
    margin: 0 auto;
}

@media screen and (min-width: 1023px) {
    .page-layout {
        grid-template-columns: minmax(0, 1fr) 15rem; /* Everything else before that table of contents bar fills width, toc uses 15rem */
    }
}

@media screen and (min-width: 1024px) {
    .algolia-autocomplete {
        width: 75%;
    }
}

@media screen and (min-width: 1280px) {
    .algolia-autocomplete {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .default-layout.tree-nav-body {
        display: block;
    }

    .tree-nav-header {
        position: fixed;
        width: 2.5rem;
        height: 4rem;
    }
}
