// Set $catch-errors to avoid failing compilation
// https://www.oddbird.net/true/docs/api-settings.html#variable--catch-errors
@forward 'true' with ($catch-errors: 'warn');
@forward '../src/internal/theme';
@forward '../src/internal/functions';
@forward '../src/internal/config';
@forward '../src/internal/flags';
@forward '../src/internal/selectors';
@forward '../src/internal/size';
@forward '../src/internal/mixins';
@forward '../src/internal/constants';

@function build-true-error-string($source, $message) {
    @return 'ERROR [#{$source}]: #{$message}'
}