@import '../../../helpers/_size';

$display-utils-config: 'none', 'inline', 'inline-block', 'block', 'table', 'table-row', 'table-column', 'table-cell';

@each $display in $display-utils-config {
    .u-#{$display} {
        display: #{$display} !important;
    }
}

.u-none {
    /* Hide elements based on screen size */
    @include screen-below('xs') {
        &-xs {
            display: none !important;
        }
    }

    @include screen-between('xs', 'sm') {
        &-sm-only {
            display: none !important;
        }
    }

    @include screen-above('sm') {
        /* Hide on devices that are tablets or larger */
        &-sm {
            display: none !important;
        }
    }

    @include screen-between('sm', 'md') {
        &-md-only {
            display: none !important;
        }
    }

    @include screen-above('md') {
        /* Hide element on laptops, desktops, etc */
        &-md {
            display: none !important;
        }
    }

    @include screen-above('lg') {
        /* Hide element on large desktops, etc */
        &-lg {
            display: none !important;
        }
    }
}
