@import '../../../helpers/_functions';
@import '../../../helpers/_size';

$flex-directions: row, row-reverse, column, column-reverse;

$justify-content: flex-start, center, flex-end, space-between, space-around, space-evenly;

$align-items: stretch, flex-start, center, flex-end, baseline;

@include generate-classes-for-viewport($flex-directions, 'flex-direction', delimitize('flex'), $generate-viewports: #{get-viewport-flag('FLEX')});
@include generate-classes-for-viewport($justify-content, 'justify-content', delimitize('justify'), $generate-viewports: #{get-viewport-flag('FLEX')});
@include generate-classes-for-viewport($align-items, 'align-items', delimitize('items'), $generate-viewports: #{get-viewport-flag('FLEX')});
