@import '../../../helpers/_size';

$flex-directions: row, row-reverse, column, column-reverse;

$justify-content: flex-start, center, flex-end, space-between, space-around, space-evenly;

$align-items: stretch, flex-start, center, flex-end, baseline;

@include generate-classes-for-viewport($flex-directions, 'flex-direction', '-flex-');
@include generate-classes-for-viewport($justify-content, 'justify-content', '-justify-');
@include generate-classes-for-viewport($align-items, 'align-items', '-items-');
