/* UTILS */
/* Utility classes to help solve some very annoying issues */

.u-pull-left {
    float: left !important;
}

.u-pull-right {
    float: right !important;
}

.u-text-justify {
    text-align: justify !important;
}

.u-text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.u-text-break {
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
}

// .u-text-no-wrap { Deprecated 0.6.0, use .u-text-ellipsis
//     white-space: nowrap;
//     text-overflow: ellipsis;
//     overflow: hidden;
// }

.u-text-center {
    text-align: center !important;
}

.u-text-left {
    text-align: left !important;
}

.u-text-right {
    text-align: right !important;
}

/* Center element - best used for hero bodies or text */
.u-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.u-center-alt,
.u-center-alt:hover,
.u-center-alt:active {
    /* If flexbox method fails, this works for elements with unknown dimensions */
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

// .u-vertical-center { Deprecated 0.6.0
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-pack: center;
//     -ms-flex-pack: center;
//     justify-content: center;
//     align-items: center;
//     vertical-align: middle;
// }

// .u-horizontal-center {
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-align: center;
//     -ms-flex-align: center;
//     align-items: center;
// }

.u-overlay {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
}

.u-hide-overflow {
    overflow: hidden !important;
}

.u-overflow-auto {
    overflow: auto !important;
}

// .u-hide { /* Deprecated 0.6.0, use u-none
//     display: none !important;
// }

.u-disabled {
    cursor: not-allowed !important;
    pointer-events: none !important;
}

.u-unselectable {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
}

/* Deprecated 0.5.6 */
/* .u-box {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  display: block;
  padding: 1rem;
}

.u-box:not(:last-child) {
  margin-bottom: 1rem;
} */

/* Deprecated 0.5.6 */
/* .u-fill-width {
  width: 100% !important;
} */

/* Deprecated 0.5.6 */
/*
.u-no-margin {
  margin: 0 !important;
}

.u-no-padding {
  padding: 0 !important;
}

.u-margin-auto {
    margin: 0 auto !important;
}
*/

/* Round the corners of the element */
.u-round {
    border-radius: 0.25rem !important;
}

/* Turns element into a circle */
.u-circle {
    border-radius: 50% !important;
}

.u-no-outline {
    outline: 0px !important;
}

.u-shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.13), 0 1px 2px 0 rgba(0, 0, 0, 0.07);
}

// /* Remove outline or drop shadow when element is focused */ Deprecated 0.6.0
// .u-no-shadow {
//     box-shadow: none;
// }
