#splash-img{ 
    background: url('https://images.unsplash.com/photo-1508182314998-3bd49473002f?ixlib=rb-0.3.5&s=f8ac09c936bac8105fde945ea267da65&auto=format&fit=crop&w=2560&q=100');
    background-size: cover;
    background-repeat: no-repeat;
}

#hero-body {
    background-color: rgba(0, 0, 0, 0.2);
}

#fade {
    background-image: linear-gradient(to bottom, transparent, #fff);
    bottom: 0;
    height: 175px;
    left: 0;
    right: 0;
    opacity: 0;
    position: absolute;
    transition: all .3s;
}

#fade.faded {
    opacity: 1;
    transition: all .3s;
}

.header {
    transition: all .3s;
}

.header-clear {
    opacity: 0.9;
    padding: 1.5rem;
}

.header a {
    color: #fff;
}

.header .nav-item a:hover {
    color: var(--cirrus-primary);
}

.header .btn .btn-accent {
    position: inherit;
}

section {
    padding-bottom: 5rem;
}

.content h6 {
    line-height: 2.25rem;
}

.font-normal {
    font-weight: 400;
}

/* Colors */
.frame {
    box-shadow: 0 0.2rem 1.25rem 0 rgba(27, 30, 36, 0.07);
    margin: 1rem 0;
}