#splash-img{ 
    background: url('https://images.unsplash.com/photo-1508182314998-3bd49473002f?ixlib=rb-0.3.5&s=f8ac09c936bac8105fde945ea267da65&auto=format&fit=crop&w=2560&q=100');
    background-size: cover;
    background-repeat: no-repeat;
}

.header a {
    color: #fff;
}

.header a:hover {
    color: var(--cirrus-accent);
}

section {
    padding-bottom: 5rem;
}

.content h6 {
    line-height: 2.25rem;
}

.font-normal {
    font-weight: 400;
}