#splash-img {
    background: url(https://images.unsplash.com/photo-1524838101135-a71ba219084d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2560&q=100);
    background-size: cover;
    background-repeat: no-repeat;
}