// Build file that enables all features/viewports
@use "cirrus-ext" with (
    $config: (
        pseudo-variants: (
            CLEARFIX: ('responsive'),
            DISPLAY: ('responsive'),
            FLEX: ('responsive'),
            FLOAT: ('responsive'),
            OVERFLOW: ('responsive'),
            POSITION: ('responsive'),
            TEXT: ('responsive'),
            MARGIN-PADDING: ('responsive'),
            OPACITY: ('responsive'),
            BACKGROUND-OPACITY: ('responsive'),
            COLOR-OPACITY: ('responsive'),
            BORDER-OPACITY: ('responsive'),
            WIDTHS: ('responsive'),
            HEIGHTS: ('responsive'),
            ZINDEX: ('responsive'),
            ABSOLUTES: ('responsive'),
            GAP: ('responsive'),
            ROUND: ('responsive'),
            SHADOWS: ('responsive'),
            MIN-HEIGHT: ('responsive'),
            MAX-HEIGHT: ('responsive'),
            MIN-WIDTH: ('responsive'),
            MAX-WIDTH: ('responsive'),
            GRID: ('responsive'),
            BLUR: ('responsive'),
            TRANSITION-DURATION: ('responsive'),
            LETTER-SPACING: ('responsive'),
            LINE-HEIGHT: ('responsive'),
            BORDER-WIDTH: ('responsive'),
            VERTICAL-ALIGN: ('responsive'),
            CURSOR: ('responsive'),
        ),
    ),
);
