// Utility classes for shadows
@use 'sass:map';

@use '../../../src/internal/generator_v2';
@use '../../../src/internal' as *;

@function _transformed() {
    $transformed: ();
    @each $key, $properties in $blurs {
        $transformed: map.set(
            $transformed,
            $key,
            map-merge(
                $properties,
                (
                    'filter': var(--cirrus-blur)
                )
            )
        );
    }
    @return $transformed;
}

@if should-generate-classes($BLUR) {
    $transformed: _transformed();
    @include generator_v2.utility(
        $class-value-pairs: $transformed,
        $base-class-name: 'blur',
        $variants: (),
        $generate-viewports: #{get-viewport-flag($BLUR)}
    );
}
