@use '../../../src/internal/generator_v2';
@use '../../../src/internal' as *;

// Border Widths
@if should-generate-classes($BORDER-WIDTH) {
    @include generator_v2.utility(
        $base-class-name: 'border',
        $class-value-pairs: generator_v2.class-value-to-property-map($border-widths, border-width),
        $variants: get-pseudo-variants($BORDER-WIDTH),
        $generate-viewports: get-viewport-flag($BORDER-WIDTH),
        $override: '!important'
    );
}

@if should-generate-classes($BORDER-OPACITY) {
    @include generator_v2.utility(
        $base-class-name: 'border-opacity',
        $class-value-pairs: generator_v2.class-value-to-property-map($opacities, '--border-opacity'),
        $variants: get-pseudo-variants($BORDER-OPACITY),
        $generate-viewports: get-viewport-flag($BORDER-OPACITY),
        $override: '!important'
    );
}

@if should-generate-classes($ROUND) {
    @include generator_v2.utility(
        $base-class-name: 'round',
        $class-value-pairs: generator_v2.class-value-to-property-map($round, border-radius),
        $variants: get-pseudo-variants($ROUND),
        $generate-viewports: get-viewport-flag($ROUND),
        $override: '!important'
    );
}

// TODO: Do we need corner specific variants?
