@use '../../../src/internal/generator_v2';
@use '../../../src/internal' as *;

@if should-generate-classes($OPACITY) {
    @include generator_v2.utility(
        $base-class-name: 'opacity',
        $class-value-pairs: generator_v2.class-value-to-property-map($opacities, opacity),
        $variants: (),
        $generate-viewports: get-viewport-flag($OPACITY),
        $override: '!important'
    );
}

@if should-generate-classes($BACKGROUND-OPACITY) {
    @include generator_v2.utility(
        $base-class-name: 'bg-opacity',
        $class-value-pairs: generator_v2.class-value-to-property-map($opacities, '--bg-opacity'),
        $variants: (),
        $generate-viewports: get-viewport-flag($BACKGROUND-OPACITY)
    );
}

@if should-generate-classes($COLOR-OPACITY) {
    @include generator_v2.utility(
        $base-class-name: 'color-opacity',
        $class-value-pairs: generator_v2.class-value-to-property-map($opacities, '--color-opacity'),
        $variants: (),
        $generate-viewports: get-viewport-flag($COLOR-OPACITY)
    );
}
