// Utility classes for transitions
@use '../../../src/internal/generator_v2';
@use '../../../src/internal' as *;

/* TRANSITION DURATION */
@if should-generate-classes($TRANSITION-DURATION) {
    @include generator_v2.utility(
        $base-class-name: 'duration',
        $class-value-pairs: generator_v2.class-value-to-property-map($transition-durations, transition-duration),
        $variants: get-pseudo-variants($TRANSITION-DURATION),
        $override: '!important'
    );
}