@use '../../../src/internal/generator_v2';
@use '../../../src/internal' as *;

@if should-generate-classes($ZINDEX) {
    @include generator_v2.utility(
        $base-class-name: 'z',
        $class-value-pairs: generator_v2.class-value-to-property-map($z-indexes, z-index),
        $variants: (),
        $generate-viewports: get-viewport-flag($ZINDEX),
        $override: '!important'
    );
}
