/* A collection of modifiers that extend control styling */
.btn.btn--pilled,
[class^="btn-"].btn--pilled,
[class*=" btn-"].btn--pilled {
    border-radius: 6.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.btn.btn--circle,
[class^="btn-"].btn--circle,
[class*=" btn-"].btn--circle {
    border-radius: 100%;
    height: 3.125rem;
    line-height: 3.125rem;
    padding: 0;
    width: 3.125rem;
}

/* Input (primary text-based) controls apply to inputs */
.input-control--pilled {
    border-radius: 6.25rem !important;
}

/* Theme modifiers */

/* GLOBAL THEME SELECTORS */
.bg-primary { background-color: var(--cirrus-primary) !important; }
.bg-success { background-color: var(--cirrus-success) !important; }
.bg-warning { background-color: var(--cirrus-warning) !important; }
.bg-danger { background-color: var(--cirrus-danger) !important; }
.bg-light { background-color: var(--cirrus-light) !important; }
.bg-dark { background-color: var(--cirrus-dark) !important; }
.bg-link { background-color: var(--cirrus-link) !important; }
.bg-link-dark { background-color: var(--cirrus-link-dark) !important; }
.bg-info { background-color: var(--cirrus-info) !important; }

.text-primary { color: var(--cirrus-primary) !important; }
.text-success { color: var(--cirrus-success) !important; }
.text-warning { color: var(--cirrus-warning) !important; }
.text-danger { color: var(--cirrus-danger) !important; }
.text-light { color: var(--cirrus-light) !important; }
.text-dark { color: var(--cirrus-dark) !important; }
.text-link { color: var(--cirrus-link) !important; }
.text-link-dark { color: var(--cirrus-link-dark) !important; }
.text-info { color: var(--cirrus-info) !important; }