/* PAGINATION */
/* Parent contianer for page navigation */
.pagination {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
}

/* Use for the major pagination meant to display about 2 items */
.pagination-item {
    -webkit-flex: 1 0 50%; /* Flex to fill */
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
}

.pagination a {
    color: #8292a2;
}

.pagination .pagination-item *[disabled] {
    cursor: pointer;
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
}

.pagination .pagination-item {
    margin: 1rem 0.1rem;
    transition: all 0.3s;
}

.pagination .pagination-item.pagination-next {
    text-align: right;
}

.pagination .pagination-item.pagination-prev {
    text-align: left;
}

/* Pagination Item */
.pagination-item-subtitle {
    opacity: 0.7;
    margin: 0; /* Needed to override style after formatting paragraph update */
}

/* Color the selected pagination item with accent color */
.pagination .pagination-item.short.selected {
    background-color: var(--cirrus-primary);
    color: #fff;
}

.pagination .pagination-item.short.selected a {
    color: #fff;
}

.pagination .pagination-item.short * {
    display: inline-block;
    line-height: 1.25;
}

/* Used to display many pagination items */
.pagination .pagination-item.short {
    margin: 0.2rem;
    border-radius: 0.1rem;
    padding: 0 0.25rem;
    -webkit-flex: 0; /* Flex to fill */
    -ms-flex: 0;
    flex: 0;
}

.pagnation .pagination-item.ellipses {
    color: #b5b5b5;
    pointer-events: none;
}

/* Not good but CSS does not have heading selectors. Need to move to SASS */
.pagination .pagination-item:hover p,
.pagination .pagination-item:hover h1,
.pagination .pagination-item:hover h2,
.pagination .pagination-item:hover h3,
.pagination .pagination-item:hover h4,
.pagination .pagination-item:hover h5,
.pagination .pagination-item:hover h6,
.pagination .pagination-item:hover *:not([disabled]):not(.ellipses) {
    transition: all 0.3s;
    color: var(--cirrus-primary);
}