/* TAGS */
.tag {
    align-items: center;
    background-color: var(--cirrus-light);
    border-radius: 0.25rem;
    color: var(--cirrus-fg);
    display: inline-flex;
    font-size: 75%;
    line-height: 1.5;
    min-height: 1.5rem;
    padding: 0 0.5rem;
    white-space: nowrap;
}

.tag.tag-large {
    font-size: 1rem;
}

.tag.tag-xlarge {
    font-size: 1.5rem;
}

.tag.tag-rounded {
    border-radius: 290486px;
}

/* Delete button for tag */
.tag.tag-delete {
    margin-left: 1px;
    padding: 0;
    position: relative;
    width: 2em;
}

/* Draw the delete button */
.tag.tag-delete::before,
.tag.tag-delete::after {
    background-color: var(--cirrus-light);
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

.tag.tag-delete::before {
    height: 1px;
    width: 50%;
}

.tag.tag-delete::after {
    height: 50%;
    width: 1px;
}

/* TAG THEMES */
.tag .delete {
    margin-left: 0.25rem;
    margin-right: -0.375rem;
}

.tag.white {
    background-color: #fff;
    color: var(--cirrus-dark);
}

.tag.black {
    background-color: var(--cirrus-black);
    color: #fff;
}

.tag.primary {
    background-color: var(--cirrus-primary);
    color: var(--cirrus-dark);
}

.tag.link {
    background-color: var(--cirrus-link);
    color: #fff;
}

.tag.info {
    background-color: var(--cirrus-info);
    color: #fff;
}

.tag.success {
    background-color: var(--cirrus-success);
    color: #fff;
}

.tag.warning {
    background-color: var(--cirrus-warning);
    color: var(--cirrus-fg);
}

.tag.danger {
    background-color: var(--cirrus-danger);
    color: #fff;
}

/* TAG CONTAINER */
.tag-container {
    display: flex;
    flex-wrap: wrap;
}

/* Add margin in between tag containers */
.tag-container:not(:last-child) {
    margin-bottom: 1rem;
}

.tag-container .tag {
    margin-bottom: 0.5rem;
}

.tag-container .tag:not(:last-child) {
    margin-right: 0.5rem;
}

/* Used for grouping tags together */
.tag-container.group-tags {
    margin-right: 0;
}

/* Tag close button */
.tags.tag-close-btn {
    padding: 0;
    position: relative;
    width: 1rem;
}

.tags.tag-close-btn::before,
.tags.tag-close-btn::after {
    background-color: var(--cirrus-fg);
    content: "";
    display: block;
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

.tag.tag-close-btn::before {
    height: 1px;
    width: 50%;
}

.tag.tag-close-btn::after {
    height: 50%;
    width: 1px;
}

/* MISC */
a.tag:hover {
    text-decoration: underline;
}

.tag-container.group-tags .tag:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.tag-container.group-tags .tag:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* Tag positioning */
.tags.tags-centered {
    justify-content: center;
}

.tags.tags-centered .tag {
    margin: 0 0.25rem;
}

.tags.tags-right {
    justify-content: flex-end;
}

.tags.tags-right .tag:not(:first-child) {
    margin-left: 0.5rem;
}

.tags.tags-right .tag:not(:last-child) {
    margin-right: 0;
}
