/* TILES */
.tile {
    display: flex;
    display: -ms-flexbox;
    align-content: space-between; /* Ensure space between child elements of card tile */
    -webkit-align-content: space-between;
    /* align-items: flex-start; Push elements to the top of container instead of center/bottom (removed since unneeded */
    -ms-flex-line-pack: justify; /* Evenly distribute lines */
    
    // /* Force elements to align at the center vertical height */ Deprecated in 0.6.0 in favor of u-items-center
    // &.tile.tile--center {
    //     align-items: center;
    //     -webkit-align-items: center;
    //     -ms-flex-align: center;
    // }
    
    // /* Keep the text from overflowing */ Moved to utils in 0.6.0
    // &.tile--center .tile__title,
    // &.tile--center .tile__subtitle.no-wrap { /* TODO: Do something about no-wrap for row and no-wrap for text */
    //     white-space: nowrap;
    //     text-overflow: ellipsis;
    //     overflow: hidden;
    // }
    
    p {
        font-size: 0.95rem; /* Base font size is 1rem */
    }

    .tile__icon,
    .tile__buttons {
        flex: 0 0 auto;
    }

    /* Override the default behavior where buttons display as blocks */
    .tile__buttons button,
    .tile__buttons .btn,
    .tile__buttons [type="submit"] {
        display: inline-block;
        margin: 0.1rem; /* Reduce space used by buttons, default .5rem */
    }
    
    .tile__container {
        flex: 1 1 auto;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
    }
    
    /* Add spacing between the elements in between */
    .tile__container {
        &:not(:first-child) {
            padding-left: 1rem;
        }

        &:not(:last-child) {
            padding-right: 1rem;
        }
    }
    
    .tile__title {
        line-height: 2rem;
        font-weight: bolder;
        margin: 0.1rem auto;
    }
    
    .tile__subtitle {
        line-height: 1.25rem;
        opacity: 0.7;
        margin: 0.1rem auto;
    }
}