.header {
    padding: 2rem 1rem;
    -webkit-box-shadow: none;
            box-shadow: none;
            -webkit-transition: background 0.4s ease, height 0.4s ease;
        transition: background 0.4s ease, height 0.4s ease;
    -webkit-transition-property: background, height;
    transition-property: background, height;
    -webkit-transition-duration: 0.4s, 0.4s;
            transition-duration: 0.4s, 0.4s;
    -webkit-transition-timing-function: ease, ease;
            transition-timing-function: ease, ease;
    -webkit-transition-delay: initial, initial;
            transition-delay: initial, initial;
    -webkit-transition: all .3s;
    transition: all .3s;
    background: transparent;
}

.translucent {
    background: rgba(0, 0, 0, 0.4);
}


.header-nav {
        -webkit-transition: background 0.4s ease, height 0.4s ease;
        transition: background 0.4s ease, height 0.4s ease;
    -webkit-transition-property: background, height;
    transition-property: background, height;
    -webkit-transition-duration: 0.4s, 0.4s;
            transition-duration: 0.4s, 0.4s;
    -webkit-transition-timing-function: ease, ease;
            transition-timing-function: ease, ease;
    -webkit-transition-delay: initial, initial;
            transition-delay: initial, initial;
    -webkit-transition: all .3s;
    transition: all .3s;
    background-color: transparent;
    top: 0;
}

.header-fill {
    background-color: rgba(0, 0, 0, 0.87);
    padding: 0 2rem;
         -webkit-transition: background 0.4s ease, height 0.4s ease;
         transition: background 0.4s ease, height 0.4s ease;
    -webkit-transition-property: background, height;
    transition-property: background, height;
    -webkit-transition-duration: 0.4s, 0.4s;
            transition-duration: 0.4s, 0.4s;
    -webkit-transition-timing-function: ease, ease;
            transition-timing-function: ease, ease;
    -webkit-transition-delay: initial, initial;
            transition-delay: initial, initial;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.nav-item a, .nav-item {
    color: #fff;
}

.nav-btn span {
    background-color: #fff;
}

.hero-body {
    position: relative;
}

#splash-img {
  background:url("https://images.unsplash.com/photo-1465414829459-d228b58caf6e?ifit=crop&amp;fm=jpg&amp;q=100&amp;h=1440&amp;w=2560");
  background-size: cover;
}

#logo {
    max-width: 200px;
}

#landing, #landing video {
    min-height: 650px;
}

#version {
    background-color: rgba(255, 255, 255, 0.3);
    max-width: 200px;
    margin: 2rem auto;
}

.padtop {
    padding: 3rem 0;
}

.no-margin {
    margin: 0;
}

span.title {
    margin-left: .5rem;
}

/* Buttons */
#btn1 {
    background-color: #2ecc71;
}

#btn2 {
    background-color: #3498db;
}

#btn3 {
    background-color: #9b59b6;
}

#btn4 {
    background-color: #FFC371;
}

#btn5 {
    background-color: #0ABFBC;
}

.col-fluid.content {
    width: 65%;
}

.content blockquote:not(.example) {
    background-color: #ffdadd;
    border-left: 5px solid #f03d4d;
}

#grid a {
    position: inherit;
}

.desc {
    vertical-align: bottom;
    font-size: 11px;
    font-family: 'Nunito Sans';
        margin-left: 10px;
}

.desc code {
      margin-right: 5px;
}

code {
    background: #ffdadd;
}

pre > code {
    padding: 1rem 1.5rem !important;
}

pre:not(.get-cirrus) > code {
    padding: 2rem 1.5rem 1rem !important;
    background: #f6f8fa;
}

pre.get-cirrus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    border-radius: .3rem;
    background: #242424 !important;
}

.hljs {
    background: #f6f8fa !important;
    max-height: 500px;
}

code.dark {
    background: transparent !important;
}

/* Copy button */
pre .copy {
    margin: auto 1rem;
    color: #f03d4d;
    padding: 0.25rem 0.75rem;
    border-radius: .3rem;
    font-weight: 700;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    transition: all .2s;
}

pre .copy:hover {
    background: #f03d4d;
    color: #fff;
    transition: all .2s;
}

#grids .col > div, #grids [class^='col-'] > div, #grids [class*=" col-"] > div, #grids .col > div, #grids [class^='w-'] > div, #grids [class*=" w-"] > div {
    background: #eee;
    text-align: center;
    border-radius: 5px;
    font-size: .7rem;
    text-transform: uppercase;
    min-height: 30px !important;
    line-height: 30px;
    margin-bottom: .75rem;
    font-weight: bold;
    letter-spacing: .1rem;
}

#textele code {
    margin-left: .5rem;
}

#input-type-container p {
    margin: 0;
}

.doc-link {
    font-weight: 300;
    color: #dc4753;
    margin-right: .5rem;
}

.doc-link:hover {
    color: #FA6571;
}

iframe {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

/* FOOTER */
footer ul a {
    display: block;
}

footer ul a li:hover {
    color: #fff;
    -webkit-transition: all .3s;
    transition: all .3s;
}

footer .divider {
    background: rgba(238, 238, 238, 0.2);
    height: 1px;
}

.card-tile {
    margin: 1.5rem 0;
}

/* The heart (you can set a custom id if you want) */
footer p .fa.fa-heart {
        color: #E90606;
    margin: 0 3px;
    animation: pound 0.35s infinite alternate;
    -webkit-animation: pound 0.35s infinite alternate;
        vertical-align: baseline;
}

/* MOBILE */
@media screen and (max-width: 768px) {
    .padtop {
        padding: 1.5rem 0;
    }

    /*.header-menu {
        background-color: rgba(76, 76, 76, 0.7);
    }*/
}