@media screen and (min-width: 1023px) {
    .page-layout {
        display: grid;
        grid-template-columns: 1fr 15em;
        max-width: 100rem;
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .default-layout.tree-nav-body {
        display: block;
    }

    .tree-nav-header {
        position: fixed;
        width: 2.5rem;
        height: 4rem;
    }
}