@use 'sass:map';

@import 'size';
@import 'functions';
@import 'theme';

// ==================================================
// User config
// ==================================================
// Deep merged with the default config. This means that this will override existing keys and append new key value pairs.
$config: (
    
) !default;

// ==================================================
// Default config
// ==================================================
$default-config: (
    // COMPONENTS //
    // Avatar sizes
    avatar-sizes:
        (
            $xs: (
                font-size: 0.8rem,
                width: 1.6rem,
                height: 1.6rem,
            ),
            $sm: (
                font-size: 1rem,
                width: 2.4rem,
                height: 2.4rem,
            ),
            $lg: (
                font-size: 2rem,
                width: 4.8rem,
                height: 4.8rem,
            ),
            $xl: (
                font-size: 3rem,
                width: 6.4rem,
                height: 6.4rem,
            ),
        ),
    // Button sizes
    button-sizes:
        (
            $xs: (
                padding: 0 0.5rem,
                font-size: 50%,
            ),
            $sm: (
                padding: 0.25rem 1rem,
                font-size: 70%,
            ),
            $md: (
                padding: 0.5rem 1.5rem,
                font-size: 90%,
            ),
            $lg: (
                padding: 0.75rem 2rem,
                font-size: 110%,
            ),
            $xl: (
                padding: 1rem 2.5rem,
                font-size: 130%,
            ),
        ),
    font-sizes: (
        heading: (
            h6: (
                default: (
                    font-size: $font-size-m,
                ),
                sm-above: (
                    font-size: $font-size-l,
                ),
            ),
            h5: (
                default: (
                    font-size: 1.25rem,
                ),
                sm-above: (
                    font-size: $font-size-xl,
                ),
            ),
            h4: (
                default: (
                    font-size: 1.5rem,
                ),
                sm-above: (
                    font-size: 1.75rem,
                ),
            ),
            h3: (
                default: (
                    font-size: 1.75rem,
                ),
                sm-above: (
                    font-size: 2rem,
                ),
            ),
            h2: (
                default: (
                    font-size: 2rem,
                ),
                sm-above: (
                    font-size: 2.5rem,
                ),
            ),
            h1: (
                default: (
                    font-size: 2.25rem,
                ),
                sm-above: (
                    font-size: 3rem,
                    letter-spacing: 0.025rem,
                ),
            ),
        ),
        headline: (
            headline-4: (
                default: (
                    font-size: 3rem,
                ),
                sm-above: (
                    font-size: 3.5rem,
                ),
            ),
            headline-3: (
                default: (
                    font-size: 3.25rem,
                ),
                sm-above: (
                    font-size: 4.5rem,
                ),
            ),
            headline-2: (
                default: (
                    font-size: 3.5rem,
                ),
                sm-above: (
                    font-size: 5.5rem,
                ),
            ),
            headline-1: (
                default: (
                    font-size: 3.75rem,
                ),
                sm-above: (
                    font-size: 6.5rem,
                ),
            ),
        ),
        text: (
            $xs: (
                font-size: $font-size-xs !important,
                line-height: 1.5rem !important,
            ),
            $sm: (
                font-size: $font-size-s !important,
                line-height: 1.75rem !important,
            ),
            $md: (
                font-size: $font-size-m !important,
                line-height: 2rem !important,
            ),
            $lg: (
                font-size: $font-size-l !important,
                line-height: 2.25rem !important,
            ),
            $xl: (
                font-size: $font-size-xl !important,
                line-height: 2.25rem !important,
            ),
        ),
    ),
    // Form label sizes
    form-label-sizes:
        (
            $xs: $font-size-xs,
            $sm: $font-size-s,
            $lg: $font-size-l,
            $xl: $font-size-xl,
        ),
    form-sizes: (
        input-sizes: (
            $xs: (
                font-size: $font-size-xs,
                padding: 0.35rem 0.9rem,
            ),
            $sm: (
                font-size: $font-size-s,
                padding: 0.55rem 1rem,
            ),
            $lg: (
                font-size: $font-size-l,
            ),
            $xl: (
                font-size: $font-size-xl,
            ),
        ),
        input-contains-icon-padding: (
            $xs: 2rem,
            $sm: 2.5rem,
            $lg: 3.5rem,
            $xl: 4rem,
        ),
        input-icon-sizes: (
            $xs: (
                line-height: 1.75rem,
                width: 1.75rem,
                font-size: 7px,
            ),
            $sm: (
                width: 2.5rem,
                font-size: 14px,
            ),
            $lg: (
                line-height: 3.5rem,
                width: 3.5rem,
                font-size: 28px,
            ),
            $xl: (
                line-height: 2.5rem,
                width: 3.75rem,
                font-size: 35px,
            ),
        ),
    ),
    // Progress Bar Heights
    progress: (
        sizes: (
            $xs: (height: 0.25rem),
            $sm: (height: 0.5rem),
            $md: (height: 0.75rem),
            $lg: (height: 1rem),
            $xl: (height: 1.25rem),
        ),
        themes: $control-themes,
    ),
    // Space sizes
    space-sizes:
        (
            $lg: (
                padding: 1rem 0,
            ),
            $xl: (
                padding: 2rem 0,
            ),
        ),
    // Tab font sizes
    tab-sizes:
        (
            $xs: $font-size-xs,
            $sm: $font-size-s,
            $lg: $font-size-l,
            $xl: $font-size-xl,
        ),
    // UTILITIES //
    absolute:
        (
            auto: auto,
            0: 0,
            50p: 50%,
            100p: 100%,
            n50p: -50%,
            n100p: -100%,
        ),
    heights: (
        10: 10%,
        20: 20%,
        30: 30%,
        40: 40%,
        50: 50%,
        60: 60%,
        70: 70%,
        80: 80%,
        90: 90%,
        100: 100%,
        auto: auto,
        screen: 100vh,
    ),
    minmax-heights: (
        'none': none,
        $xs: map-get($breakpoints, $xs),
        $sm: map-get($breakpoints, $sm),
        $md: map-get($breakpoints, $md),
        $lg: map-get($breakpoints, $lg),
        $xl: map-get($breakpoints, $xl),
        10: 10%,
        20: 20%,
        30: 30%,
        40: 40%,
        50: 50%,
        60: 60%,
        70: 70%,
        80: 80%,
        90: 90%,
        100: 100%,
        screen: 100vh,
    ),
    minmax-widths: (
        'none': none,
        $xs: map-get($breakpoints, $xs),
        $sm: map-get($breakpoints, $sm),
        $md: map-get($breakpoints, $md),
        $lg: map-get($breakpoints, $lg),
        $xl: map-get($breakpoints, $xl),
        10: 10%,
        20: 20%,
        30: 30%,
        40: 40%,
        50: 50%,
        60: 60%,
        70: 70%,
        80: 80%,
        90: 90%,
        100: 100%,
        screen: 100vh,
    ),
    opacity: (
        '0': 0,
        '10': 0.1,
        '20': 0.2,
        '30': 0.3,
        '40': 0.4,
        '50': 0.5,
        '60': 0.6,
        '70': 0.7,
        '80': 0.8,
        '90': 0.9,
        '100': 1,
    ),
    round: (
        'none': 0px,
        $xs: .25rem,
        $sm: .5rem,
        $md: .75rem,
        $lg: 1rem,
        $xl: 1.25rem,
        'full': 9001px,
    ),
    shadows: (
        'none': (
            --cirrus-shadow: 0 0 #000,
        ),
        $xs: (
            --cirrus-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05),
        ),
        $sm: (
            --cirrus-shadow: (0 1px 3px 0 rgba(0, 0, 0, 0.1),
            0 1px 2px 0 rgba(0, 0, 0, 0.06)),
        ),
        $md: (
            --cirrus-shadow: (0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -1px rgba(0, 0, 0, 0.06)),
        ),
        $lg: (
            --cirrus-shadow: (0 10px 15px -3px rgba(0, 0, 0, 0.1),
            0 4px 6px -2px rgba(0, 0, 0, 0.05)),
        ),
        $xl: (
            --cirrus-shadow: (0 20px 25px -5px rgba(0, 0, 0, 0.1),
            0 10px 10px -5px rgba(0, 0, 0, 0.04)),
        ),
        'inset': (
            --cirrus-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06),
        ),
    ),
    widths: (
        10: 10%,
        20: 20%,
        30: 30%,
        40: 40%,
        50: 50%,
        60: 60%,
        70: 70%,
        80: 80%,
        90: 90%,
        100: 100%,
        auto: auto,
        screen: 100vw,
    ),
    z-index: (
        0: 0,
        10: 10,
        20: 20,
        30: 30,
        40: 40,
        50: 50,
        auto: auto,
    )
) !default;

// ==================================================
// Exported values
// ==================================================
$all-config: map.deep-merge($default-config, $config);

// ==================================================
// Exported values
// ==================================================

// COMPONENTS
$avatar-sizes: map.get($all-config, avatar-sizes);
$button-sizes: map.get($all-config, button-sizes);
$form-label-sizes: map.get($all-config, form-label-sizes);
$font-heading-sizes: map-get-deep($all-config, 'font-sizes.heading');
$font-headline-sizes: map-get-deep($all-config, 'font-sizes.headline');
$font-text-sizes: map-get-deep($all-config, 'font-sizes.text');

// Form sizes
$input-sizes: map-get-deep($all-config, 'form-sizes.input-sizes');
$input-contains-icon-padding: map-get-deep($all-config, 'form-sizes.input-contains-icon-padding');
$input-icon-sizes: map-get-deep($all-config, 'form-sizes.input-icon-sizes');

$progress-bar-sizes: map-get-deep($all-config, 'progress.sizes');
$progress-bar-themes: map-get-deep($all-config, 'progress.themes');
$space-sizes: map.get($all-config, space-sizes);
$tab-font-sizes: map.get($all-config, tab-sizes);

// UTILS
$absolute: map.get($all-config, absolute);

$heights: map.get($all-config, heights);
$widths: map.get($all-config, widths);
$minmax-heights: map.get($all-config, minmax-heights);
$minmax-widths: map.get($all-config, minmax-widths);

$opacities: map.get($all-config, opacity);
$round: map.get($all-config, round);
$shadows: map.get($all-config, shadows);
$z-indexes: map.get($all-config, z-index);
