/* Breakpoints */
$xs: 'xs';
$sm: 'sm';
$md: 'md';
$lg: 'lg';
$xl: 'xl';

/* Fonts */
// TODO Need to standardize these around a base font size for $font-size-m
$font-size-xs: 0.75rem;
$font-size-s: 0.875rem;
$font-size-m: 1rem;
$font-size-l: 1.25rem;
$font-size-xl: 1.5rem;
