@use 'constants';

/************
 * DEFAULTS *
 ************/
$default-sizing-system: (
    0: 0rem,
    1: 0.5rem,
    2: 1rem,
    3: 1.5rem,
    4: 2rem,
    5: 2.5rem,
    6: 3rem,
    8: 4rem,
    10: 5rem,
    12: 6rem,
    16: 8rem,
    20: 10rem,
    24: 12rem,
    32: 16rem,
);
$default-absolutes-max: 9; // Include 8

$default-breakpoints: (
    constants.$xs: 640px,
    constants.$sm: 768px,
    constants.$md: 1024px,
    constants.$lg: 1280px,
    constants.$xl: 1536px,
);

$default-quartile-percentages: (
    25p: 25%,
    50p: 50%,
    75p: 75%,
    100p: 100%,
);

$default-percentages: (
    10p: 10%,
    20p: 20%,
    30p: 30%,
    40p: 40%,
    50p: 50%,
    60p: 60%,
    70p: 70%,
    80p: 80%,
    90p: 90%,
    100p: 100%,
);
