@use 'sass:list';

// Flag Constants
$ALL: 'ALL';

$CLEARFIX: 'CLEARFIX';
$DISPLAY: 'DISPLAY';
$FLEX: 'FLEX';
$FLOAT: 'FLOAT';
$OVERFLOW: 'OVERFLOW';
$POSITION: 'POSITION';
$TEXT: 'TEXT';
$MARGIN-PADDING: 'MARGIN-PADDING';
$OPACITY: 'OPACITY';
$WIDTHS: 'WIDTHS';
$HEIGHTS: 'HEIGHTS';
$ZINDEX: 'ZINDEX';
$ABSOLUTE: 'ABSOLUTE';
$FLEX-GAP: 'FLEX-GAP';
$MIN-HEIGHT: 'MIN-HEIGHT';
$MAX-HEIGHT: 'MAX-HEIGHT';
$MIN-WIDTH: 'MIN-WIDTH';
$MAX-WIDTH: 'MAX-WIDTH';
$GRID: 'GRID';
$ROUND: 'ROUND';
$SHADOWS: 'SHADOWS';

/*
  Helper function to determine if a set of classes should be generated based on given include/exclude configuration.
*/
@function _should-generate-classes($excludes, $includes, $flag) {
  $generate-classes: true;
  @if list.index($excludes, $ALL) {
    $generate-classes: false;
  }
  @if list.index($includes, $flag) {
    $generate-classes: false;
  }
  @if list.index($includes, $flag) {
    $generate-classes: true;
  }

  @return $generate-classes;
}
