@use 'sass:list';

// Flag Constants
$ALL: 'ALL';

// Base
$GRID: 'GRID';
$WIDTHS: 'WIDTHS';
$HEIGHTS: 'HEIGHTS';
$MIN-HEIGHT: 'MIN-HEIGHT';
$MAX-HEIGHT: 'MAX-HEIGHT';
$MIN-WIDTH: 'MIN-WIDTH';
$MAX-WIDTH: 'MAX-WIDTH';
$MARGIN-PADDING: 'MARGIN-PADDING';
$RESET: 'RESET';

// Components
$ACCORDION: 'ACCORDION';
$AVATAR: 'AVATAR';
$BREADCRUMB: 'BREADCRUMB';
$BUTTON: 'BUTTON';
$CARD: 'CARD';
$CODE: 'CODE';
$FOOTER: 'FOOTER';
$FORMS: 'FORMS';
$FORMS-EXT: 'FORMS-EXT';
$FRAMES: 'FRAMES';
$HEADER: 'HEADER';
$LINKS: 'LINKS';
$LINKS-EXT: 'LINKS-EXT';
$LISTS: 'LISTS';
$MODAL: 'MODAL';
$PAGINATION: 'PAGINATION';
$PLACEHOLDER: 'PLACEHOLDER';
$PROGRESS: 'PROGRESS';
$TABLE: 'TABLE';
$TABS: 'TABS';
$TAGS: 'TAGS';
$TILES: 'TILES';
$TOAST: 'TOAST';
$TOOLTIPS: 'TOOLTIPS';

// Utilities
$CLEARFIX: 'CLEARFIX';
$DISPLAY: 'DISPLAY';
$FLEX: 'FLEX';
$FLOAT: 'FLOAT';
$OVERFLOW: 'OVERFLOW';
$POSITION: 'POSITION';
$TEXT: 'TEXT';
$OPACITY: 'OPACITY';
$BACKGROUND-OPACITY: 'BACKGROUND-OPACITY';
$COLOR-OPACITY: 'COLOR-OPACITY';
$BORDER-OPACITY: 'BORDER-OPACITY';
$ZINDEX: 'ZINDEX';
$ABSOLUTES: 'ABSOLUTES';
$GAP: 'GAP';
$ROUND: 'ROUND';
$SHADOWS: 'SHADOWS';
$LETTER-SPACING: 'LETTER-SPACING';
$BLUR: 'BLUR';
$TRANSITION-DURATION: 'TRANSITION-DURATION';
$LINE-HEIGHT: 'LINE-HEIGHT';
$BORDER-WIDTH: 'BORDER-WIDTH';
