@use 'sass:list';
@use 'config';
@use 'size';

$default-prefix: 'u-';
$default-override: '';
$default-delimiter: '-';
$default-variant-delimiter: '\\:';

// ALL WIP
@mixin utility(
    $prefix: $default-prefix,
    $delimiter: $default-delimiter,
    $property,
    $class-value-pairs,
    $variants: (),
    $variant-delimiter: $default-variant-delimiter,
    $generate-viewports: false,
    $override: $default-override
) {
    @include utility-with-body(
            $prefix,
            $property,
            $class-value-pairs,
            $variants,
            $variant-delimiter,
            $generate-viewports,
            $override
        )
        using ($variant, $variant-delimiter, $prefix, $suffix, $property, $key, $value, $override) {
        $variant-prefix: '';
        $variant-suffix: '';
        @if $variant != '' {
            $variant-prefix: $variant + $variant-delimiter;
            $variant-suffix: ':' + $variant;
        }

        $suffix-str: '';
        @if $suffix != '' {
            $suffix-str: $delimiter + $suffix;
        }

        .#{$variant-prefix}#{$prefix}#{$key}#{$suffix-str}#{$variant-suffix} {
            #{$property}: $value#{$override};
        }
    }
}

@mixin utility-with-body(
    $prefix: $default-prefix,
    $property,
    $class-value-pairs,
    $variants: (),
    $variant-delimiter: $default-variant-delimiter,
    $generate-viewports: false,
    $override: $default-override
) {
    // Iterate over variants, including no variants
    $variants: list.join('', $variants);
    @each $key, $value in $class-value-pairs {
        @each $variant in $variants {
            @content ($variant, $variant-delimiter, $prefix, '', $property, $key, $value, $override);

            // Generate classes with viewport
            @if $generate-viewports == 'true' {
                @each $suffix, $limit in config.$breakpoint-pairs {
                    @include size.screen-above($limit) {
                        @content ($variant, $variant-delimiter, $prefix, $suffix, $property, $key, $value, $override);
                    }
                }
            }
        }
    }
}
