// Pseudo-variant constants
$ACTIVE: 'active';
$CHECKED: 'checked';
$DARK: 'dark';
$DISABLED: 'disabled';
$EXPAND: 'expand';
$FIRST_OF_TYPE: 'first-of-type';
$FOCUS: 'focus';
$FOCUS_VISIBLE: 'focus-visible';
$FOCUS_WITHIN: 'focus-within';
$GROUP_FOCUS: 'group-focus';
$GROUP_HOVER: 'group-hover';
$HOVER: 'hover';
$LANDSCAPE: 'landscape';
$LAST_OF_TYPE: 'last-of-type';
$LIGHT: 'light';
$PORTRAIT: 'portrait';
$REDUCE_MOTION: 'reduce-motion';
$VISITED: 'visited';