@use '../src/internal' as *;

@if should-generate-classes($LINKS) {
    /* LINKS */

    a {
        text-decoration: none;
        transition: all 0.3s;
        color: fill('link');
        font-weight: 600;

        &:has(#{$button-selectors}) {
            color: inherit;
        }

        &.underline {
            text-decoration: underline;
        }
    }

    .subtitle a {
        padding: 0; /* Removes weird offset in subtitle links */
    }

    #{$header-selectors},
    article,
    blockquote {
        & a {
            display: inline;
        }
    }

    /* Remove uneeded space since buttons have their own padding */
    a .btn,
    a button,
    [type='submit'] a {
        margin-bottom: 0;
    }
}
