@use '../internal' as *;

@if should-generate-classes($ABSOLUTES) {
    $directions: top, left, right, bottom;

    @each $direction in $directions {
        @include utility(
            $class-value-pairs: class-value-map-with-single-property($direction, $absolute),
            $common-class-name: $direction,
            $variants: (),
            $generate-viewports: #{get-viewport-flag($ABSOLUTES)},
            $override: '!important'
        );
    }
}
