@use '../internal' as *;

$generate-utility: should-generate-classes($ABSOLUTES);

@if $generate-utility {
    $directions: top, left, right, bottom;

    @each $direction in $directions {
        @include generate-classes-for-viewport-with-map(
                        $absolute,
                        $direction,
                        'u-#{$direction}-',
                $generate-viewports: #{get-viewport-flag($ABSOLUTES)}
        );
    }
}
