@use '../internal' as *;

// Border Widths
@if should-generate-classes($BORDER-WIDTH) {
    @include utility(
        $class-value-pairs: class-value-map-with-single-property('border-width', $border-widths),
        $common-class-name: 'border',
        $variants: (),
        $generate-viewports: #{get-viewport-flag($BORDER-WIDTH)},
        $override: '!important'
    );
}

@if should-generate-classes($BORDER-OPACITY) {
    @include utility(
        $class-value-pairs: class-value-map-with-single-property('--border-opacity', $border-widths),
        $common-class-name: 'border-opacity',
        $variants: (),
        $generate-viewports: #{get-viewport-flag($BORDER-OPACITY)},
        $override: '!important'
    );
}

@if should-generate-classes($ROUND) {
    @include utility(
        $class-value-pairs: class-value-map-with-single-property('border-radius', $round),
        $common-class-name: 'round',
        $variants: (),
        $generate-viewports: #{get-viewport-flag($ROUND)},
        $override: '!important'
    );
}

// TODO: Do we need corner specific variants?
