@use '../internal' as *;

@if should-generate-classes($CLEARFIX) {
    $clears: left, right, both;

    @include utility(
        $class-value-pairs: class-value-map-with-single-property('clear', to-property-map($clears)),
        $common-class-name: 'clear',
        $variants: (),
        $generate-viewports: #{get-viewport-flag($CLEARFIX)},
        $override: '!important'
    );

    /*
       When using floats, clearfix allows the container to automatically resize so that
       other elements are not blocked by children.
    */
    .u-clearfix:after {
        clear: both !important;
        content: ' ';
        display: table !important;
    }
}
