@use '../internal' as *;

$generate-utility: should-generate-classes($DISPLAY);

@if $generate-utility {
  $display-utils-config: none, inline, inline-block, block, flex, inline-flex, table, table-row, table-column, table-cell;

  @include generate-classes-for-viewport($display-utils-config, 'display', $generate-viewports: #{get-viewport-flag($DISPLAY)});
}