@use '../internal' as *;

@if should-generate-classes($DISPLAY) {
    $display-utils-config: none, inline, inline-block, block, flex, inline-flex, table, table-row, table-column,
        table-cell;

    @include utility(
        $class-value-pairs: class-value-map-with-single-property('display', to-property-map($display-utils-config)),
        $common-class-name: '',
        $variants: (),
        $generate-viewports: #{get-viewport-flag($DISPLAY)},
        $override: '!important'
    );
}
