@use '../internal' as *;

$generate-utility: should-generate-classes($FLEX);

@if $generate-utility {
    $flex-directions: row, row-reverse, column, column-reverse;
    $justify-content: flex-start, center, flex-end, space-between, space-around, space-evenly;
    $align-items: stretch, flex-start, center, flex-end, baseline;
    $flex-grow: 0, 1;

    @include generate-classes-for-viewport(
                    $flex-directions,
                    'flex-direction',
                    'u#{delimitize('flex')}',
            $generate-viewports: #{get-viewport-flag($FLEX)}
    );
    @include generate-classes-for-viewport(
                    $justify-content,
                    'justify-content',
                    'u#{delimitize('justify')}',
            $generate-viewports: #{get-viewport-flag($FLEX)}
    );
    @include generate-classes-for-viewport(
                    $align-items,
                    'align-items',
                    'u#{delimitize('items')}',
            $generate-viewports: #{get-viewport-flag($FLEX)}
    );

    // Flex grow/shrink utils
    @include generate-classes-for-viewport(
                    $flex-grow,
                    'flex-grow',
                    'u#{delimitize('flex-grow')}',
            $generate-viewports: #{get-viewport-flag($FLEX)}
    );

    @include generate-classes-for-viewport(
                    $flex-grow,
                    'flex-shrink',
                    'u#{delimitize('flex-shrink')}',
            $generate-viewports: #{get-viewport-flag($FLEX)}
    );
}


$generate-utility: should-generate-classes($GAP);

@if $generate-utility {
    // Generate flex gap class map
    $gaps-both: ();
    // TODO: Consider if we need to generate for row and col only
    @each $class, $size in $spacing-system {
        $gaps-both: map-merge(
                        $gaps-both,
                        (
                                'gap-#{$class}': $size,
                        )
        );
    }

    @include generate-classes-for-viewport-with-map($gaps-both, 'gap', $generate-viewports: #{get-viewport-flag($GAP)});
}