@use '../internal' as *;

/* UTILS */
/* Utility classes to help solve some very annoying issues */

$generate-utility: should-generate-classes($FLOAT);
@if $generate-utility {
    $pull-directions: (left, right);
    @include generate-classes-for-viewport(
                    $pull-directions,
                    'float',
                    'u#{delimitize('pull')}',
            $generate-viewports: #{get-viewport-flag($FLOAT)}
    );
}


$generate-utility: should-generate-classes($TEXT);
@if $generate-utility {
    $text-directions: (justify, left, right, center);
    @include generate-classes-for-viewport(
                    $text-directions,
                    'text-align',
                    'u#{delimitize('text')}',
            $generate-viewports: #{get-viewport-flag($FLOAT)}
    );
}

.u-text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.u-text-break {
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
}

/* Center element - best used for hero bodies or text */
.u-center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.u-center-alt,
.u-center-alt:hover,
.u-center-alt:active {
    /* If flexbox method fails, this works for elements with unknown dimensions */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.u-overlay {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
}

.u-disabled {
    cursor: not-allowed !important;
    pointer-events: none !important;
}

.u-unselectable {
    user-select: none !important;
}

.u-no-outline {
    outline: 0px !important;
}
