@use '../internal' as *;

@if should-generate-classes($OPACITY) {
    @include utility(
        $class-value-pairs: class-value-map-with-single-property('opacity', $opacities),
        $common-class-name: 'opacity',
        $variants: (),
        $generate-viewports: #{get-viewport-flag($OPACITY)},
        $override: '!important'
    );
}

@if should-generate-classes($BACKGROUND-OPACITY) {
    @include utility(
        $class-value-pairs: class-value-map-with-single-property('--bg-opacity', $opacities),
        $common-class-name: 'bg-opacity',
        $variants: (),
        $generate-viewports: #{get-viewport-flag($BACKGROUND-OPACITY)},
    );
}

@if should-generate-classes($COLOR-OPACITY) {
    @include utility(
        $class-value-pairs: class-value-map-with-single-property('--color-opacity', $opacities),
        $common-class-name: 'color-opacity',
        $variants: (),
        $generate-viewports: #{get-viewport-flag($COLOR-OPACITY)},
    );
}

@if should-generate-classes($BORDER-OPACITY) {
    @include utility(
        $class-value-pairs: class-value-map-with-single-property('--border-opacity', $opacities),
        $common-class-name: 'border-opacity',
        $variants: (),
        $generate-viewports: #{get-viewport-flag($BORDER-OPACITY)},
    );
}
