@use '../internal' as *;

$generate-utility: should-generate-classes($OPACITY);
@if $generate-utility {
    @include generate-classes-for-viewport-with-map(
        $opacities,
        'opacity',
        'u-opacity-',
        $generate-viewports: #{get-viewport-flag($OPACITY)}
    );
}

$generate-utility: should-generate-classes($BACKGROUND-OPACITY);
@if $generate-utility {
    @include generate-classes-for-viewport-with-map(
        $opacities,
        '--bg-opacity',
        'u-bg-opacity-',
        $generate-viewports: #{get-viewport-flag($BACKGROUND-OPACITY)},
        $include-important: false
    );
}

$generate-utility: should-generate-classes($COLOR-OPACITY);
@if $generate-utility {
    @include generate-classes-for-viewport-with-map(
        $opacities,
        '--color-opacity',
        'u-color-opacity-',
        $generate-viewports: #{get-viewport-flag($COLOR-OPACITY)},
        $include-important: false
    );
}

$generate-utility: should-generate-classes($BORDER-OPACITY);
@if $generate-utility {
    @include generate-classes-for-viewport-with-map(
        $opacities,
        '--border-opacity',
        'u-border-opacity-',
        $generate-viewports: #{get-viewport-flag($BORDER-OPACITY)},
        $include-important: false
    );
}
