@use '../internal' as *;

$generate-utility: should-generate-classes($OVERFLOW);

@if $generate-utility {
    $overflow: (auto, hidden, visible, scroll);
    @include generate-classes-for-viewport(
                    $overflow,
                    'overflow',
                    'u#{delimitize('overflow')}',
            $generate-viewports: #{get-viewport-flag($OVERFLOW)}
    );
    // NOTE: We have now changed u-hide-overflow to u-overflow-hidden

    @include generate-classes-for-viewport(
                    $overflow,
                    'overflow-x',
                    'u#{delimitize('overflow-x')}',
            $generate-viewports: #{get-viewport-flag($OVERFLOW)}
    );
    @include generate-classes-for-viewport(
                    $overflow,
                    'overflow-y',
                    'u#{delimitize('overflow-y')}',
            $generate-viewports: #{get-viewport-flag($OVERFLOW)}
    );
}