@use '../internal' as *;

@if should-generate-classes($POSITION) {
    $positions: static, fixed, absolute, relative, sticky;

    @include utility(
        $class-value-pairs: class-value-map-with-single-property('position', to-property-map($positions)),
        $common-class-name: '',
        $variants: (),
        $generate-viewports: #{get-viewport-flag($POSITION)},
        $override: '!important'
    );
}
