// Utility classes for shadows
@use '../internal' as *;

$generate-utility: should-generate-classes($SHADOWS);

@if $generate-utility {
    @include generate-styles-with-viewports($generate-viewports: #{get-viewport-flag($SHADOWS)}) using ($viewport) {
        $suffix: if($viewport != '', '-#{$viewport}', '');

        @each $class, $property-map in $shadows {
            .u-shadow-#{$class}#{$suffix} {
                @include explode-properties($property-map);
                box-shadow: var(--cirrus-shadow);
            }
        }
    }
}
