// Utility classes for shadows
@use 'sass:map';
@use '../internal' as *;

@function _transformed() {
    $transformed: ();
    @each $key, $properties in $shadows {
        $transformed: map.set(
            $transformed,
            $key,
            map-merge(
                $properties,
                (
                    'box-shadow': var(--cirrus-shadow),
                )
            )
        );
    }
    @return $transformed;
}

@if should-generate-classes($SHADOWS) {
    $transformed: _transformed();

    @include utility(
        $class-value-pairs: $transformed,
        $common-class-name: 'shadow',
        $variants: (),
        $generate-viewports: #{get-viewport-flag($SHADOWS)}
    );
}
