// Utility classes for transitions
@use '../internal' as *;

/* TRANSITION DURATION */
@if should-generate-classes($TRANSITION-DURATION) {
    @include utility(
        $class-value-pairs: class-value-map-with-single-property('transition-duration', $transition-durations),
        $common-class-name: 'duration',
        $variants: (),
        $generate-viewports: #{get-viewport-flag($TRANSITION-DURATION)},
        $override: '!important'
    );
}