@use '../internal' as *;

$generate-utility: should-generate-classes($ZINDEX);

@if $generate-utility {
    @include generate-classes-for-viewport-with-map(
                    $z-indexes,
                    'z-index',
                    'u-z-',
            $generate-viewports: #{get-viewport-flag($ZINDEX)}
    );
}