@use '../internal' as *;

@if should-generate-classes($ZINDEX) {
    @include utility(
        $class-value-pairs: class-value-map-with-single-property('z-index', $z-indexes),
        $common-class-name: 'z',
        $variants: (),
        $generate-viewports: #{get-viewport-flag($ZINDEX)},
        $override: '!important'
    );
}
