.sidebar-wrapper {
    position: sticky;
    top: 5rem;
    width: 300px;
    height: inherit !important;
}

.tree-nav-container {
    margin-top: 7rem;
    overflow-y: inherit !important;
}

.default-layout {
    max-width: 1280px;

    &.tree-nav-body {
        height: inherit;

        .tree-nav {
            height: auto;
            overflow: initial;
        }
    }
    
    .tree-nav-header {
        display: none;
    }

    .sidebar {
        height: calc(100vh - 5rem);
        overflow-y: auto;
    }
}

@media screen and (max-width: 768px) {

    .default-layout {
        &.content {
            width: 100%;
        }

        .tree-nav-header {
            display: block;
            position: sticky;
            top: 10rem;
        }

        .tree-nav-container {
            margin-top: 0;
        }
    }

    .sidebar-container {
        background-color: #fff;
        margin-top: 0;
    }
}