@import '../core/theme.scss';

/* CODE */
code {
    padding: 0.3rem;
    margin: 0.5em 0;
    overflow: auto;
    background-color: var(--cirrus-code-bg);
    color: var(--cirrus-code-fg);
    border-radius: 3px;

    &:before {
        color: #acb3c2;
        content: attr(data-lang);
        font-size: 0.9rem;
        position: absolute;
        right: 1rem;
        top: 0.7rem;
    }

    /* Dark theme for code */
    &.dark {
        background-color: $cirrus-dark;
        color: #fff;
    }
}

pre > code {
    background-color: map-get($grays, '000');
    font-size: 14px;
    display: block;
    padding: 1rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    text-align: left;
    line-height: 1.5;
    -moz-tab-size: 4;
    tab-size: 4;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    border-left: 0.3rem solid $cirrus-primary;
    margin: 0;
    position: relative;
    color: #222;

    &[data-lang]:not([data-lang='']) {
        padding: 2rem 1.5rem 1rem;
    }
}
