/* BASE STYLING FOR CIRRUS */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Nunito+Sans:400,700");

* {
    margin: 0;
    padding: 0;
    /* Prevent setting borders from increasing the size of an elrement */
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
}

/* Nunito Sans for the font */
body {
    letter-spacing: 0.01rem;
    line-height: 1.8; /* Globally adjust line height */
    font-size: 1rem;
    font-weight: 400;
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
    letter-spacing: 0.01rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    color: var(--cirrus-fg);
}

/* Remove bullets from unordered lists */
ul {
    list-style: none;
}

/* Setting up embedded content */
img,
embed,
object,
audio,
video {
    max-width: 100%;
    height: auto;
}

.hero.fullscreen video {
    height: 100%;
    object-fit: fill;
    position: absolute;
    width: 100%;
    z-index: -1;
}

iframe {
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
    display: block;
}

input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
}

label {
    display: inline-block;
    margin: 0.25rem 0;
}

[hidden] {
    display: none !important;
}

/* Selection Color */
::selection {
    background-color: var(--cirrus-select-bg);
}

/* When focusing any element */
:focus {
    box-shadow: 0 0 0.1rem 0.15rem rgba(240, 61, 77, 0.13);
    outline: none;
}
