/* LINKS */

a {
    transition: all 0.3s;
    color: var(--cirrus-link);
    text-decoration: none;
    font-weight: 600;
    padding: 2px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

a:hover {
    color: var(--cirrus-link-dark);
    transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

a,
a:visited,
a:hover,
a:active {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-decoration: none;
}

.subtitle a {
    padding: 0; /* Removes weird offset in subtitle links */
}

a.display-block {
    display: block;
}

a.underline {
    text-decoration: underline;
}