/* LINKS */

a {
    backface-visibility: hidden;
    color: var(--cirrus-link);
    display: block; /* Allow this to be overwritten, never set to inline-block */
    font-weight: 600;
    padding: 2px;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover {
    color: var(--cirrus-link-dark);
    transition: all 0.3s;
}

a:visited,
a:hover,
a:active {
    backface-visibility: hidden;
    text-decoration: none;
}

.subtitle a {
    padding: 0; /* Removes weird offset in subtitle links */
}

/* a.display-block { Deprecated 0.5.5
    display: block;
} */

a.underline {
    text-decoration: underline;
}

p, h1, h2, h3, h4, h5, h6, blockquote, article {
    display: inline-block;
}