/* LINKS */

a {
    color: var(--cirrus-link);
    display: block; /* Allow this to be overwritten, never set to inline-block */
    font-weight: 600;
    padding: 2px;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover {
    color: var(--cirrus-link-dark);
    transition: all 0.3s;
}

a:visited,
a:hover,
a:active {
    backface-visibility: hidden;
    text-decoration: none;
}

.subtitle a {
    padding: 0; /* Removes weird offset in subtitle links */
}

/* a.display-block { Deprecated 0.5.5
    display: block;
} */

a.underline {
    text-decoration: underline;
}

p a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, blockquote a, article a {
    display: inline;
}

a .btn, a button {
    margin-bottom: 0; /* Remove random excess space */
}