/* Margin */
.m-0 { margin: 0 !important; }
.m-1 { margin: calc(var(--space-size) * 1) !important; }
.m-2 { margin: calc(var(--space-size) * 2) !important; }
.m-3 { margin: calc(var(--space-size) * 3) !important; }
.m-4 { margin: calc(var(--space-size) * 4) !important; }
.m-5 { margin: calc(var(--space-size) * 5) !important; }

.mt-0, .my-0 { margin-top: 0 !important; }
.mt-1, .my-1 { margin-top: calc(var(--space-size) * 1) !important; }
.mt-2, .my-2 { margin-top: calc(var(--space-size) * 2) !important; }
.mt-3, .my-3 { margin-top: calc(var(--space-size) * 3) !important; }
.mt-4, .my-4 { margin-top: calc(var(--space-size) * 4) !important; }
.mt-5, .my-5 { margin-top: calc(var(--space-size) * 5) !important; }

.mb-0, .my-0 { margin-bottom: 0 !important; }
.mb-1, .my-1 { margin-bottom: calc(var(--space-size) * 1) !important; }
.mb-2, .my-2 { margin-bottom: calc(var(--space-size) * 2) !important; }
.mb-3, .my-3 { margin-bottom: calc(var(--space-size) * 3) !important; }
.mb-4, .my-4 { margin-bottom: calc(var(--space-size) * 4) !important; }
.mb-5, .my-5 { margin-bottom: calc(var(--space-size) * 5) !important; }

.ml-0, .mx-0 { margin-left: 0 !important; }
.ml-1, .mx-1 { margin-left: calc(var(--space-size) * 1) !important; }
.ml-2, .mx-2 { margin-left: calc(var(--space-size) * 2) !important; }
.ml-3, .mx-3 { margin-left: calc(var(--space-size) * 3) !important; }
.ml-4, .mx-4 { margin-left: calc(var(--space-size) * 4) !important; }
.ml-5, .mx-5 { margin-left: calc(var(--space-size) * 5) !important; }

.mr-0, .mx-0 { margin-right: 0 !important; }
.mr-1, .mx-1 { margin-right: calc(var(--space-size) * 1) !important; }
.mr-2, .mx-2 { margin-right: calc(var(--space-size) * 2) !important; }
.mr-3, .mx-3 { margin-right: calc(var(--space-size) * 3) !important; }
.mr-4, .mx-4 { margin-right: calc(var(--space-size) * 4) !important; }
.mr-5, .mx-5 { margin-right: calc(var(--space-size) * 5) !important; }

/* Padding */
.p-0 { padding: 0 !important; }
.p-1 { padding: calc(var(--space-size) * 1) !important; }
.p-2 { padding: calc(var(--space-size) * 2) !important; }
.p-3 { padding: calc(var(--space-size) * 3) !important; }
.p-4 { padding: calc(var(--space-size) * 4) !important; }
.p-5 { padding: calc(var(--space-size) * 5) !important; }

.pt-0, .py-0 { padding-top: 0 !important; }
.pt-1, .py-1 { padding-top: calc(var(--space-size) * 1) !important; }
.pt-2, .py-2 { padding-top: calc(var(--space-size) * 2) !important; }
.pt-3, .py-3 { padding-top: calc(var(--space-size) * 3) !important; }
.pt-4, .py-4 { padding-top: calc(var(--space-size) * 4) !important; }
.pt-5, .py-5 { padding-top: calc(var(--space-size) * 5) !important; }

.pb-0, .py-0 { padding-bottom: 0 !important; }
.pb-1, .py-1 { padding-bottom: calc(var(--space-size) * 1) !important; }
.pb-2, .py-2 { padding-bottom: calc(var(--space-size) * 2) !important; }
.pb-3, .py-3 { padding-bottom: calc(var(--space-size) * 3) !important; }
.pb-4, .py-4 { padding-bottom: calc(var(--space-size) * 4) !important; }
.pb-5, .py-5 { padding-bottom: calc(var(--space-size) * 5) !important; }

.pl-0, .px-0 { padding-left: 0 !important; }
.pl-1, .px-1 { padding-left: calc(var(--space-size) * 1) !important; }
.pl-2, .px-2 { padding-left: calc(var(--space-size) * 2) !important; }
.pl-3, .px-3 { padding-left: calc(var(--space-size) * 3) !important; }
.pl-4, .px-4 { padding-left: calc(var(--space-size) * 4) !important; }
.pl-5, .px-5 { padding-left: calc(var(--space-size) * 5) !important; }

.pr-0, .px-0 { padding-right: 0 !important; }
.pr-1, .px-1 { padding-right: calc(var(--space-size) * 1) !important; }
.pr-2, .px-2 { padding-right: calc(var(--space-size) * 2) !important; }
.pr-3, .px-3 { padding-right: calc(var(--space-size) * 3) !important; }
.pr-4, .px-4 { padding-right: calc(var(--space-size) * 4) !important; }
.pr-5, .px-5 { padding-right: calc(var(--space-size) * 5) !important; }
