/* Color scheme for Cirrus */
:root {
    --cirrus-fg: #374054;
    --cirrus-bg: #fff;

    --cirrus-primary: #f03d4d;
    --cirrus-accent-hover: #d62939;
    --cirrus-accent-border: #c21b2b;
    --cirrus-light: #f6f9fc;
    --cirrus-dark: #363636;
    --cirrus-link: #379afd;
    --cirrus-link-dark: #083d71;
    --cirrus-info: #2972fa;
    --cirrus-success: #0dd157;
    --cirrus-warning: #fab633;
    --cirrus-danger: #fb4143;

    --cirrus-select-bg: rgba(0, 161, 255, 0.2);

    --cirrus-code-bg: #ffdadd;
    --cirrus-code-fg: #dc4753;

    --cirrus-form-group-bg: #f8f9fa;
    --cirrus-form-group-fg: #909090;

    --toast-primary-bg: #00c9a7;
}

/* GLOBAL THEME SELECTORS */
.bg-primary {background-color: var(--cirrus-primary) !important; }
.bg-success { background-color: var(--cirrus-success) !important; }
.bg-warning { background-color: var(--cirrus-warning) !important; }
.bg-danger { background-color: var(--cirrus-danger) !important; }
.bg-light { background-color: var(--cirrus-light) !important; }
.bg-dark { background-color: var(--cirrus-dark) !important; }
.bg-link { background-color: var(--cirrus-link) !important; }
.bg-link-dark { background-color: var(--cirrus-link-dark) !important; }
.bg-info { background-color: var(--cirrus-info) !important; }