/* Color scheme for Cirrus */
:root {
    --cirrus-fg: #374054;
    --cirrus-bg: #fff;

    --cirrus-primary: #f03d4d;
    --cirrus-primary-light: #ffdadd;
    --cirrus-accent-hover: #d62939;
    --cirrus-accent-border: #c21b2b;
    --cirrus-light: #f6f9fc;
    --cirrus-light-gray: #f8f9fa;
    --cirrus-gray: #d5d7dc;
    --cirrus-dark-gray: #909090;
    --cirrus-dark: #363636;
    --cirrus-link: #5e5cc7;
    --cirrus-link-dark: #4643e2;
    --cirrus-info: #2972fa;
    --cirrus-success: #0dd157;
    --cirrus-warning: #fab633;
    --cirrus-danger: #fb4143;

    --cirrus-light-hover: #d9e6f2;
    --cirrus-dark-hover: #424242;
    --cirrus-info-hover: #2368e9;
    --cirrus-link-hover: #f8f7ff;
    --cirrus-success-hover: #00b147;
    --cirrus-warning-hover: #f9a90e;
    --cirrus-danger-hover: #f1393c;

    --cirrus-select-bg: rgba(0, 161, 255, 0.2);

    --cirrus-code-bg: var(--cirrus-primary-light);
    --cirrus-code-fg: #dc4753;

    --cirrus-form-group-bg: var(--cirrus-light-gray);
    --cirrus-form-group-fg: var(--cirrus-dark-gray);

    --toast-primary-bg: rgba(49, 59, 80, 0.9);

    --animation-duration: .2s;
}