/* UTILS */
/* Utility classes to help solve some very annoying issues */

.u-inline {
  display: inline;
}

.u-inline-block {
  display: inline-block;
}

.u-flex {
  display: flex;
}

.u-flex-column {
  flex-direction: column;
}

.u-flex-row {
  flex-direction: row;
}

.u-inline-flex {
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
}

.u-block {
  display: block;
}

/*
   When using floats, clearfix allows the container to automatically resize so that
   other elements are not blocked by children.
*/

.u-clearfix:after {
  clear: both;
  content: " ";
  display: table;
}

/* This is mainly to keep elements from overlapping when using floats */
.u-clear-left {
  clear: left;
}

.u-clear-right {
  clear: right;
}

.u-clear-both {
  clear: both;
}

.u-pull-left {
  float: left;
}

.u-pull-right {
  float: right;
}

.u-text-center {
  text-align: center;
}

/* Center element - best used for hero bodies or text */
.u-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.u-center-alt,
.u-center-alt:hover,
.u-center-alt:active {
  /* If flexbox method fails, this works for elements with unknown dimensions */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.u-vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.u-horizontal-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.u-this-overlay {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}

.u-hide-overflow {
  overflow: hidden !important;
  overflow-x: hidden;
  overflow-y: hidden;
}

.u-text-center {
  text-align: center;
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-hide {
  display: none !important;
}

.u-disabled {
  cursor: not-allowed;
}

.u-unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.u-box {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  display: block;
  padding: 1rem;
}

.u-box:not(:last-child) {
  margin-bottom: 1rem;
}

.u-fill-width {
  width: 100%;
}

.u-no-margin {
  margin: 0 !important;
}

.u-no-padding {
  padding: 0 !important;
}

.u-margin-auto {
  margin: 0 auto !important;
}

/* Round the corners of the element */
.u-round {
  border-radius: 0.1rem;
}

/* Turns element into a circle */
.u-circle {
  border-radius: 50%;
}

/* Remove outline or drop shadow when element is focused */
.u-no-shadow {
  box-shadow: none;
}

/* Responsiveness and Element Hiding */

/* Do the actual balancing only on larger screens */
@media screen and (min-width: 769px) {
  .level,
  .level-left,
  .level-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* Hide elements based on screen size */
@media screen and (max-width: 768px) {
  .u-hide-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  /* Hide on devices that are tablets or larger */
  .u-hide-tablet {
    display: none !important;
  }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .u-hide-tablet-only {
    display: none !important;
  }
}

@media screen and (min-width: 1024px) {
  /* Hide element on laptops, desktops, etc */
  .u-hide-desktop {
    display: none !important;
  }
}
