#grids .col > div,
#grids [class^='col-'] > div,
#grids [class*=' col-'] > div,
#grids .col > div,
#grids [class^='w-'] > div,
#grids [class*=' w-'] > div,
#grids [class^='h-'] > div,
#grids [class*=' h-'] > div {
    background: #eee;
    text-align: center;
    border-radius: 5px;
    font-size: 0.7rem;
    text-transform: uppercase;
    min-height: 30px !important;
    line-height: 30px;
    margin-bottom: 0.75rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}
