@use 'sass:map';

@import './_size.scss';

// ==================================================
// Default config
// ==================================================
$default-config: (
    // COMPONENTS //
    
    // Avatar sizes
    avatar-sizes: (
        $xs: (font-size: 0.8rem, width: 1.6rem, height: 1.6rem),
        $sm: (font-size: 1rem, width: 2.4rem, height: 2.4rem),
        $lg: (font-size: 2rem, width: 4.8rem, height: 4.8rem),
        $xl: (font-size: 3rem, width: 6.4rem, height: 6.4rem)
    ),

    // Button sizes
    button-sizes: (
        $xs: (
            padding: 0 0.5rem,
            font-size: 50%,
        ),
        $sm: (
            padding: 0.25rem 1rem,
            font-size: 70%,
        ),
        $md: (
            padding: 0.5rem 1.5rem,
            font-size: 90%,
        ),
        $lg: (
            padding: 0.75rem 2rem,
            font-size: 110%,
        ),
        $xl: (
            padding: 1rem 2.5rem,
            font-size: 130%,
        ),
    ),

    // Form label sizes
    form-label-sizes: (
        $xs: $font-size-xs,
        $sm: $font-size-s,
        $lg: $font-size-l,
        $xl: $font-size-xl,
    ),

    // Tab font sizes
    tab-sizes: (
        $xs: $font-size-xs,
        $sm: $font-size-s,
        $lg: $font-size-l,
        $xl: $font-size-xl,
    )
) !default;

// ==================================================
// Exported values
// ==================================================

$avatar-sizes: map.get($default-config, avatar-sizes);
$button-sizes: map.get($default-config, button-sizes);
$font-label-sizes: map.get($default-config, form-label-sizes);
$tab-font-sizes: map.get($default-config, tab-sizes);