@use 'sass:map';

@import './_size.scss';
@import './_functions.scss';

// ==================================================
// Default config
// ==================================================
$default-config: (
    // COMPONENTS //
    // Avatar sizes
    avatar-sizes:
        (
            $xs: (
                font-size: 0.8rem,
                width: 1.6rem,
                height: 1.6rem,
            ),
            $sm: (
                font-size: 1rem,
                width: 2.4rem,
                height: 2.4rem,
            ),
            $lg: (
                font-size: 2rem,
                width: 4.8rem,
                height: 4.8rem,
            ),
            $xl: (
                font-size: 3rem,
                width: 6.4rem,
                height: 6.4rem,
            ),
        ),
    // Button sizes
    button-sizes:
        (
            $xs: (
                padding: 0 0.5rem,
                font-size: 50%,
            ),
            $sm: (
                padding: 0.25rem 1rem,
                font-size: 70%,
            ),
            $md: (
                padding: 0.5rem 1.5rem,
                font-size: 90%,
            ),
            $lg: (
                padding: 0.75rem 2rem,
                font-size: 110%,
            ),
            $xl: (
                padding: 1rem 2.5rem,
                font-size: 130%,
            ),
        ),
    // Form label sizes
    form-label-sizes:
        (
            $xs: $font-size-xs,
            $sm: $font-size-s,
            $lg: $font-size-l,
            $xl: $font-size-xl,
        ),
    form-sizes: (
        input-sizes: (
            $xs: (
                font-size: $font-size-xs,
                padding: 0.35rem 0.9rem,
            ),
            $sm: (
                font-size: $font-size-s,
                padding: 0.55rem 1rem,
            ),
            $lg: (
                font-size: $font-size-l,
            ),
            $xl: (
                font-size: $font-size-xl,
            ),
        ),
        input-contains-icon-padding: (
            $xs: 2rem,
            $sm: 2.5rem,
            $lg: 3.5rem,
            $xl: 4rem,
        ),
        input-icon-sizes: (
            $xs: (
                line-height: 1.75rem,
                width: 1.75rem,
                font-size: 7px,
            ),
            $sm: (
                width: 2.5rem,
                font-size: 14px,
            ),
            $lg: (
                line-height: 3.5rem,
                width: 3.5rem,
                font-size: 28px,
            ),
            $xl: (
                line-height: 2.5rem,
                width: 3.75rem,
                font-size: 35px,
            ),
        ),
    ),
    // Space sizes
    space-sizes:
        (
            $lg: (
                padding: 1rem 0,
            ),
            $xl: (
                padding: 2rem 0,
            ),
        ),
    // Tab font sizes
    tab-sizes:
        (
            $xs: $font-size-xs,
            $sm: $font-size-s,
            $lg: $font-size-l,
            $xl: $font-size-xl,
        ),
    // UTILITIES //
    absolute:
        (
            auto: auto,
            0: 0,
            50p: 50%,
            100p: 100%,
            n50p: -50%,
            n100p: -100%,
        ),
    heights: (
        10: 10%,
        20: 20%,
        30: 30%,
        40: 40%,
        50: 50%,
        60: 60%,
        70: 70%,
        80: 80%,
        90: 90%,
        100: 100%,
        auto: auto,
        screen: 100vh,
    ),
    opacity: (
        '0': 0,
        '10': 0.1,
        '20': 0.2,
        '30': 0.3,
        '40': 0.4,
        '50': 0.5,
        '60': 0.6,
        '70': 0.7,
        '80': 0.8,
        '90': 0.9,
        '100': 1,
    ),
    widths: (
        10: 10%,
        20: 20%,
        30: 30%,
        40: 40%,
        50: 50%,
        60: 60%,
        70: 70%,
        80: 80%,
        90: 90%,
        100: 100%,
        auto: auto,
        screen: 100vw,
    ),
    z-index: (
        0: 0,
        10: 10,
        20: 20,
        30: 30,
        40: 40,
        50: 50,
        auto: auto,
    )
) !default;

// ==================================================
// Exported values
// ==================================================

// COMPONENTS
$avatar-sizes: map.get($default-config, avatar-sizes);
$button-sizes: map.get($default-config, button-sizes);
$form-label-sizes: map.get($default-config, form-label-sizes);

// Form sizes
$input-sizes: map-get-deep($default-config, 'form-sizes.input-sizes');
$input-contains-icon-padding: map-get-deep($default-config, 'form-sizes.input-contains-icon-padding');
$input-icon-sizes: map-get-deep($default-config, 'form-sizes.input-icon-sizes');

$space-sizes: map.get($default-config, space-sizes);
$tab-font-sizes: map.get($default-config, tab-sizes);

// UTILS
$absolute: map.get($default-config, absolute);

$heights: map.get($default-config, heights);
$widths: map.get($default-config, widths);

$opacities: map.get($default-config, opacity);
$z-indexes: map.get($default-config, z-index);
