@import '../../internal/_functions';
@import '../../internal/_size';

/* v1 Color scheme for Cirrus */

$cirrus-black: #000000;
$cirrus-white: #ffffff;
$cirrus-primary: #f03d4d;
$cirrus-primary-light: #ffdadd;
$cirrus-accent-hover: #d62939;
$cirrus-accent-border: #c21b2b;
$cirrus-light: #f6f9fc;
$cirrus-light-gray: #f8f9fa;
$cirrus-gray: #d5d7dc;
$cirrus-dark-gray: #909090;
$cirrus-dark: #363636;
$cirrus-link: #5e5cc7;
$cirrus-link-dark: #4643e2;
$cirrus-info: #2972fa;
$cirrus-success: #0dd157;
$cirrus-warning: #fab633;
$cirrus-danger: #fb4143;

$cirrus-light-hover: #d9e6f2;
$cirrus-dark-hover: #424242;
$cirrus-info-hover: #2368e9;
$cirrus-link-hover: #f8f7ff;
$cirrus-success-hover: #00b147;
$cirrus-warning-hover: #f9a90e;
$cirrus-danger-hover: #f1393c;

$cirrus-fg: #374054;
$cirrus-bg: $cirrus-white;

$control-themes: (
    'primary': $cirrus-primary,
    'gray': $cirrus-gray,
    'dark': $cirrus-dark,
    'link': $cirrus-link,
    'info': $cirrus-info,
    'success': $cirrus-success,
    'warning': $cirrus-warning,
    'danger': $cirrus-danger,
);

$cirrus-select-bg: rgba(0, 161, 255, 0.2);
$cirrus-input-border: rgb(61, 171, 240);

$cirrus-code-bg: var($cirrus-primary-light);
$cirrus-code-fg: #dc4753;

$cirrus-form-group-bg: var($cirrus-light-gray);
$cirrus-form-group-fg: var($cirrus-dark-gray);

$toast-primary-bg: rgba(49, 59, 80, 0.9);

$tooltip-primary-bg: rgba(69, 77, 93, 0.9);

$placeholder-fg: #a9a9a9;

$animation-duration: 0.2s;
$focus-opacity: 0.55;

/* v2 Colors */
$pinks: (
    '100': #f8e7f1,
    '200': #f3d2e3,
    '300': #ecb7d3,
    '400': #eb8cbc,
    '500': #dd5a9c,
    '600': #d12e81,
    '700': #a21f61,
    '800': #831b50,
    '900': #741648,
);

$reds: (
    '100': #fde7e9,
    '200': #fbd4d5,
    '300': #f7b1b1,
    '400': #f19393,
    '500': #e85c61,
    '600': #db3839,
    '700': #b31e1d,
    '800': #9b1313,
    '900': #890e10,
);

$oranges: (
    '100': #fdeed1,
    '200': #fbdbaa,
    '300': #f6b65c,
    '400': #f19736,
    '500': #e4771c,
    '600': #c45307,
    '700': #9b3908,
    '800': #842b09,
    '900': #890e10,
);

$yellows: (
    '100': #fffde4,
    '200': #f9e978,
    '300': #f6da52,
    '400': #e8bb24,
    '500': #d29507,
    '600': #9d6b0c,
    '700': #7c4d09,
    '800': #6c3e0c,
    '900': #5d320f,
);

$greens: (
    '100': #e1f7eb,
    '200': #c2ecd6,
    '300': #98d9b7,
    '400': #64c192,
    '500': #44a675,
    '600': #33855d,
    '700': #27684a,
    '800': #275440,
    '900': #234535,
);

$teals: (
    '100': #ddf2f5,
    '200': #b5e6eb,
    '300': #7fced5,
    '400': #59bac3,
    '500': #1e9ca8,
    '600': #0f7d8a,
    '700': #0a616a,
    '800': #105157,
    '900': #114448,
);

$blues: (
    '100': #e1effc,
    '200': #bfdcfc,
    '300': #8bc2f8,
    '400': #5fa7f3,
    '500': #3c91ec,
    '600': #1b74d9,
    '700': #1e5898,
    '800': #1e4c80,
    '900': #1c3c63,
);

$indigos: (
    '100': #e2efff,
    '200': #c4dbfd,
    '300': #a1befa,
    '400': #89a3f7,
    '500': #6c83e9,
    '600': #5966d9,
    '700': #4c4f9e,
    '800': #42417b,
    '900': #3a3462,
);

$purples: (
    '100': #f0e9fb,
    '200': #e2d4f8,
    '300': #cbb2f6,
    '400': #b89af4,
    '500': #9c73ed,
    '600': #8256e1,
    '700': #6340b6,
    '800': #50388e,
    '900': #413170,
);

$grays: (
    '000': #f8f9fa,
    '100': #f1f3f5,
    '200': #e9ecef,
    '300': #dee2e6,
    '400': #ced4da,
    '500': #adb5bd,
    '600': #868e96,
    '700': #495057,
    '800': #343a40,
    '900': #212529,
);

$v1Palettes: primary, success, warning, danger, light, dark, link, link-dark, info, black, white;

$v2Palettes: (
    'pink': $pinks,
    'red': $reds,
    'orange': $oranges,
    'yellow': $yellows,
    'green': $greens,
    'teal': $teals,
    'blue': $blues,
    'indigo': $indigos,
    'purple': $purples,
    'gray': $grays,
);
