.grid {
    margin: 1rem 0;

    ._grid-ex {
        background-color: #eee;
        border-radius: 0.25rem;
        font-weight: bold;
        text-align: center;

        p {
            margin: 0;
        }
    }
}
