/* ANIMATIONS */

/* Spinning loading animation */
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

/* Hover animation */
.hover-grow { /* Mouse leave */
  transition-duration: .32s;
}

.hover-grow:hover { /* Mouse enter */
      transform: scale(1.1);
    transition-duration: .08s;
}

/* Loading button position relatively for loading spinner location */
.animated.loading {
  position: relative;
}

/* Loading Spinner, align center by default */
.animated.loading:after {
    border: 2px solid #ccc;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1rem;
    width: 1rem;
    margin-left: -10px;
    margin-top: -10px;
    position: absolute;
    left: 50%;
    top: 50%;
      -webkit-animation: loading 500ms infinite linear;
    animation: loading 500ms infinite linear;
}

.animated.loading.loading-white:after {
    border-left-color: #fff;
    border-bottom-color: #fff;
}

/* Align spinner left */
.animated.loading.loading-left:after {
  left: 2rem;
  right: auto;
}

.animated.loading.loading-left {
  padding-left: 4rem;
}

/* Align spinner right */
.animated.loading.loading-right:after {
  left: auto;
  right: 2rem;
  
}

.animated.loading.loading-right {
  padding-right: 4rem;
}

/* Hide text in loading button */
.animated.loading.hide-text {
    color: transparent !important;
}

/* Heart animation */
@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}
@keyframes pound {
  to {
    transform: scale(1.1);
  }
}

.animated.pulse {
    animation: pound 0.35s infinite alternate;
    -webkit-animation: pound 0.35s infinite alternate;
    vertical-align: baseline;
}

/* Bounce animations */
@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1); /* Ease-out based on power of four */
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1); /* Ease-out based on power of four */
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.animated.bounce {
  animation-name: bounce;
  -webkit-animation-name: bounce;
  transform-origin: center bottom;
  -webkit-transform-origin: center bottom;
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(.9, .9, .9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(.97, .97, .97);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.animated.bounceIn {
  animation-name: bounceIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animated.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.infinite.alternate {
  animation-direction: alternate;
}

.animated.paused {
  -webkit-animation-play-state: paused !important; /* Safari 4.0 - 8.0 */
    animation-play-state: paused !important;
}