// Build file that enables all features/viewports
@use "cirrus-ext" with (
    $config: (
        viewports: (
            CLEARFIX: true,
            DISPLAY: true,
            FLEX: true,
            FLOAT: true,
            OVERFLOW: true,
            POSITION: true,
            TEXT: true,
            MARGIN-PADDING: true,
            OPACITY: true,
            BACKGROUND-OPACITY: true,
            COLOR-OPACITY: true,
            BORDER-OPACITY: true,
            WIDTHS: true,
            HEIGHTS: true,
            ZINDEX: true,
            ABSOLUTES: true,
            GAP: true,
            MIN-HEIGHT: true,
            MAX-HEIGHT: true,
            MIN-WIDTH: true,
            MAX-WIDTH: true,
            GRID: true,
            ROUND: true,
            SHADOWS: true,
            LETTER-SPACING: true,
            BLUR: true,
            TRANSITION-DURATION: true,
            LINE-HEIGHT: true,
            BORDER-WIDTH: true,
        ),
    ),
);

@forward "cirrus-ext";
