/* CODE */

code {
  padding: .3rem;
  margin: .5em 0;
  overflow: auto;
  background: #ffdadd;
  color: #dc4753;
  border-radius: 3px;
}

/* Dark theme for code */
code.dark {
  background: #242424;
  color: #fff;
}

code:before {
    color: #acb3c2;
    content: attr(data-lang);
    font-size: .9rem;
    position: absolute;
    right: 1rem;
    top: .7rem;
}

pre > code {
  font-size: 14px;
  display: block;
  padding: 2rem 1.5rem 1rem;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
 border-left: .3rem solid #f03d4d;
 margin: 0;
     position: relative;
}
