/* FONT */

@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  /* color: #363636; */ /* Removed 0.5.4, creates color inconsistencies */
}

h1 {
  font-size: 4rem; /* 64px */
  letter-spacing: .05rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

strong {
  font-weight: 700;
}

.light {
  font-weight: 200;
  font-family: 'Nunito Sans';
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    line-height: 1.125em;
    margin: 1rem 0;
}

.title {
  font-weight: bolder;
}

.title:not(:last-child), .subtitle:not(:last-child) {
    margin-bottom: 1rem;
}

.accent .subtitle {
    color: rgba(255, 255, 255, 0.9);
}

.title + .subtitle { /* Make the subtitlte closer to the title */
    margin-top: -1.25rem;
    /* font-size: 90%; */ /* Removed 0.5.4 */
}

p, article, blockquote {
  font-size: 1rem;
  line-height: 2rem;
  margin: 1rem 0;
}

.content > p:last-of-type {
  margin-bottom: 2rem;
}

blockquote {
  background-color: #f5f5f5;
  border-left: 5px solid #dbdbdb;
  padding: 1rem 2rem;
  border-radius: 3px;
}

blockquote p {
  margin: 0;
  font-size: 0.95rem;
}

/* Use default line-height for these texts and when line-height-inherit is specified */
.card-tile p, .card-tile article, .card-tile blockquote,
p.line-height-inherit, article.line-height-inherit, blockquote.line-height-inherit {
  line-height: inherit !important;
}

cite {
  opacity: 0.7;
}

/* Weights */
.font-thin {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.rtl {
  direction: rtl;
}

.white {
  color: #fff !important;
}

.faded {
  opacity: 0.75;
}

.italics {
  font-style: italic;
}

/* Font Awesome */
.icon { /* Usually used in spans */
  display: inline-block;
  font-size: 21px; /* Best font sizes are multiples of 7 */
  /* height: 100%; */ /* Removed since this caused the glyph to take up too much height */
  line-height: 1.5rem;
  text-align: center;
  vertical-align: top;
  width: 1.5rem;
  vertical-align: baseline; /* Experiment */
}

.icon .fa {
    font-size: inherit;
    vertical-align: middle;
}

.icon.x-small {
  margin: .55rem 0 0 0.1rem;
}

.icon.small {
  margin: .95rem 0 0 0.1rem;
}

.fa {
    font-size: 21px; /* Font sizes in multiple of 7s since they render the best */
    text-align: center;
    /* vertical-align: top; */ /* Removed 0.5.4 as it caused alignment issues */
}

.fa.x-small {
  font-size: 7px;
}

.fa.small {
  font-size: 14px;
}

.fa.large {
  font-size: 28px;
  padding: 0.5rem 0;
}

.fa.x-large {
  font-size: 35px;
  padding: 1rem 0;
}

.fa.xx-large {
  font-size: 42px;
    padding: 2rem 0;
}

.info {
    display: block;
    font-size: 0.75rem;
    color: #979797;
}

.info.inline { /* Keeps the extra info inline */
    display: inline-block;
    margin-left: .5rem;
}

.info.success {
  color: #4CAF50;
}

.info.error {
  color: #F44336;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

/* Other text elements */
abbr[title] {
    border-bottom: .1rem dotted;
    cursor: help;
    text-decoration: none;
}

kbd {
    background: #394558;
    border-radius: .2rem;
    color: #fff;
    display: inline-block;
    line-height: 1;
    padding: 0.5rem;
    vertical-align: baseline;
}

/* MOBILE */

@media (max-width: 650px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1rem;
  }
  p, article, blockquote {
      margin: 1rem 0;
  }
}
