/* FOOTER */

footer {
    width: 100%;
    padding: 50px 0 10px;
    background: #111;
    text-align: center;
    margin-top: 5rem;
}

footer a {
    font-weight: bolder;
    color: #fff;
}

footer p {
    color: #848484;
}

footer h6 {
    text-align: center;
    letter-spacing: 6px;
    position: relative;
    padding-bottom: 10px;
}

footer .footer-list-title {
    font-size: 75%;
    text-transform: uppercase;
    font-weight: bolder;
    color: #ddd;
}

footer .footer-list-title:after {
    content: "";
    display: block;
    width: 10%;
    margin: auto;
    border-bottom: 2px solid;
    border-color: #343b49;
}

footer ul a .list-item {
      margin: 0.1rem;
    color: #888;
    transition: all .3s;
    font-size: 75%;
    text-transform: uppercase;
}

