/* FORMS */

input[type="name"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="file"], select {
  width: 100%;
  border: 1px solid #ddd;
  padding: .8rem;
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.05);
  border-radius: 3px;
  color: #5a5a5a;
  font-family: 'Nunito Sans';
  font-size: .85rem;
  letter-spacing: .02rem;
  box-sizing: border-box;
  transition: all .3s;
  outline: none;
  margin: .5rem 0;
   padding: .85rem 1.1rem;
}

textarea, textarea[type=text] {
  width: 100%;
  border: 1px solid #ddd;
  padding: .8rem;
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.05);
  border-radius: 3px;
  color: #5a5a5a;
  font-family: 'Nunito Sans';
  font-size: .85rem;
  letter-spacing: .02rem;
  box-sizing: border-box;
  transition: all .3s;
  outline: none;
  margin: .5rem 0;
   padding: 1rem 1.3rem;
    min-height: 8rem;
    line-height: 1.5rem;
}

input[type="color"] {
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.05);
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    outline: none;
    margin: .5rem 0;
    padding: .55rem 0.8rem;
    position: relative;
    background: #fff;
    height: 3rem;
}

input[type="name"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="file"]:focus, select:focus, textarea:focus, textarea[type=text]:focus,
input[type="text"].input-focused,
.input-focused { 
    box-shadow: inset 0px 1px 8px rgba(0,0,0,0.1);
    border-color: rgba(0, 102, 255, 0.5);
}

select:disabled {
    background: rgb(235, 235, 228);
    color: #a9a9a9;
}

.label:not(:last-child) {
    margin-bottom: 0.5em;
}
.label {
    color: #4a4a4a;
    display: block;
    font-weight: bold;
}

.text-success {
    border-color: #4CAF50 !important;
}

.text-error {
    border-color: #F44336 !important;
}

/* Input Field Sizes */
input[type].input-xsmall, select.input-xsmall {
    font-size: 0.65rem;
}

input[type].input-small, select.input-small {
    font-size: 0.75rem;
}

input[type].input-large, select.input-large {
    font-size: 1.5rem;
}

input[type].input-xlarge, select.input-xlarge {
    font-size: 2rem;
}

/* Select sizes */
select.input-xsmall {
    padding: .65rem 0.9rem;
}

select.input-small {
    padding: .75rem 1rem;
}

select.input-large {
    padding: .95rem 1.2rem;
}

select.input-xlarge {
    padding: 1.05rem 1.3rem;
}

/* Used for when the input controls have another control adjacent to it but we want to position it inside the input field like font-awesome glyphs */
.input-control {
  position: relative;
}

/* Hold Font Awesome glyphs inside input fields */
/* Nomral input only */
/* More sizes coming soon */
input[type].input-contains-icon {
    padding-left: 2.75rem;
}

.input-contains-icon + .icon { /* Nomral input only */
    position: absolute;
    left: 0;
    height: 2rem;
    top: 0;
    width: 2rem;
    margin: 1.15rem 0 0 0.5rem;
    vertical-align: baseline;
}
