/* Separate CSS file, but same part as Layout */

/* The base container that is similar in structure to a card but more flexible */
.frame {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    /* border: .1rem solid #ececec; */
    box-shadow: 0 0.05rem 0.2rem rgba(69, 77, 93, .3);
}

/* For the frame header and footer, use flex display */
.frame .frame-header,
.frame .frame-footer {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    padding: 1rem;
}

/* The frame navbar can be used with level or header classes to create a navigation menu */
.frame .frame-nav {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
}

.frame .frame-body {
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    overflow-y: auto; /* Show the scrollbar when needed */
    padding: 0 1.5rem;
}

.frame .frame-title {
    color: #374054;
    font-size: 1rem;
    margin: 0.5rem auto;
}

.frame .frame-subtitle {
    color: rgba(55, 64, 84, 0.6);
    font-size: .85rem;
    margin: 0.25rem auto;
}