/* HEADER */

.content {
  max-width: 60em;
  margin: 0 auto 1.5em;
  width: 80%;
}

.content-no-padding { /* Content without the extra margin at the bottom */
  max-width: 60em;
  margin: 0 auto;
  width: 80%;
}

/* Content that centers in parent and fills parent div without the extra vertical margin */
.content-fluid {
  width: 100%;
  margin: 0 auto;
}

.fullscreen {
   top:0;
   right:0;
   bottom:0;
   left:0;
   height: 100vh;
}

/* This works well with panel */
section {
    display: block;
}

.panel {
    padding: 2.5em 0;
}

/* This works well with spans and maybe even hr */
.divider {
  display: block;
  height: 2px;
  position: relative;
  border-top: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #eee;
      width: 100%;
}

.divider-short {
  max-width: 15rem;
  width: 100%;
}

/* Hero image div */
.hero-img {
  /* Specify the backgroud image yourself */
  background-size: cover;
}

.parallax-img {
  background-attachment: fixed !important;
}

.hero { /* Parent of hero-body */
  -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; /* Important to stretch height of hero-body */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; /* Stack the items in the container */
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.hero-body {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; /* Tells the hero-body to take up the entire space */
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 3rem 1.5rem;
    -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

space {
  display: block;
  width: 100%;
  height: 1rem;
}

space.large {
  padding: 1rem 0;
}

space.x-large {
  padding: 2rem 0;
}

/* Use for spacing out elements vertically */
.row {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: 100%;
    padding: .5rem;
}

.row:after {
  content: '';
  clear: both;
  display: table;
}

/* GRID */
.row .col-1 {
  width: 8.33333333%;
}

.row .col-2 {
  width: 16.66666667%;
}

.row .col-3 {
  width: 25%;
}

.row .col-4 {
  width: 33.33333333%;
}

.row .col-5 {
  width: 41.66666667%;
}

.row .col-6 {
  width: 50%;
}

.row .col-7 {
  width: 58.33333333%;
}

.row .col-8 {
  width: 66.66666667%;
}

.row .col-9 {
  width: 75%;
}

.row .col-10 {
  width: 83.33333333%;
}

.row .col-11 {
  width: 91.66666667%;
}

.row .col-12 {
  width: 100%;
}

/* Column offsets on the left side */
.row .offset-1 {
  margin-left: 8.33333333%;
}

.row .offset-2 {
  margin-left: 16.66666667%;
}

.row .offset-3 {
  margin-left: 25%;
}

.row .offset-4 {
  margin-left: 33.33333333%;
}

.row .offset-5 {
  margin-left: 41.66666667%;
}

.row .offset-6 {
  margin-left: 50%;
}

.row .offset-7 {
  margin-left: 58.33333333%;
}

.row .offset-8 {
  margin-left: 66.66666667%;
}

.row .offset-9 {
  margin-left: 75%;
}

.row .offset-10 {
  margin-left: 83.33333333%;
}

.row .offset-11 {
  margin-left: 91.66666667%;
}

.row .offset-12 {
  margin-left: 100%;
}

/* Auto align col-n to left in fluid-container */
.fluid-container .offset-right {
  margin-left: 0;
  margin-right: auto;
}

/* Auto align col-n to middle in fluid-container */
.fluid-container .offset-center {
  margin-left: auto;
  margin-right: auto;
}
/* Auto align col-n to right in fluid-container */
.fluid-container .offset-left {
  margin-left: auto;
  margin-right: 0;
}

/* Use in parent div of fluid col */
.fluid-container {
  display: flex;
  overflow: auto;
}

/* Wrap controls instead on overflow */
.fluid-container.wrap {
  -webkit-align-items: center;
    align-items: center;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    -ms-flex-align: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* Resizes elements in a row equally given the number of elements located in it */
.fluid-container .col-fluid {
    display: block;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}

/* No expansion for specific col-fluid columns */
.fluid-container .col-fluid.no-flex {
    flex-grow: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    -ms-flex-negative: 0;
}

/* Some offset values */
.row [class^='col-'], .row [class*=" col-"] {
  float: left; /* Keeps the elements in 1 row */
  padding: 0 .5rem;
}

/* Columns without the spacing */
.row [class^='col-'].no-space, .row [class*=" col-"].no-space {
  padding: 0;
}

/* Ignore overflow in columns */
.row.expand {
    -webkit-flex-wrap: nowrap; /* Remove wrapping of the columns by default */
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto; /* Can be disabled to remove scroll bar */
}

/* Only for divs with .expand so they can go past the parent div width */
.row.expand [class^='col-'], .row.expand [class*=" col-"] {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

/* Known to cause spacing issues in columns */
/*.row [class^='col-']:first-child, .row [class*=" col-"]:first-child{
  margin-left: 0;
}*/
 
/* Used for aligning controls next to each other */
.row.has-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

/* Divider for multiple elements in a div */
.divided >.fluid-container:not(.row), .divided >.row [class^='col-'] {
    box-shadow: -1px 0 0 0 rgba(34,36,38,.15);
}

/* Remove border in first child */
.divided >.row [class^='col-']:first-child, .divided >.row [class^='col-']:first-child {
    box-shadow: none;
}

.level {
    -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.level-left {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; /* Start for left */
  margin-right: 1rem;
}

.level-right {
    -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; /* End for right */
}

.level-item { /* Centers items */
      -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* Used to stretch the contents of div in level to fill */
.level-content {
  -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    text-align: left;
    width: 100%;
}

/* PAGINATION */
/* Parent contianer for page navigation */
.pagination {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
}

/* Use for the major pagination meant to display about 2 items */
.pagination-item {
  -webkit-flex: 1 0 50%; /* Flex to fill */
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
}

.pagination .pagination-item *[disabled] {
    cursor: pointer;
    opacity: .5;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
}

.pagination .pagination-item {
  margin: 1rem .1rem;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

.pagination .pagination-item.pagination-next {
  text-align: right;
}

.pagination .pagination-item.pagination-prev {
  text-align: left;
}

.pagination-item-subtitle {
  opacity: 0.7;
  margin: 0 !important; /* Needed to override style after formatting paragraph update */
}

/* Color the selected pagination item with accent color */
.pagination .pagination-item.short.selected {
  background-color: #f03d4d;
  color: #fff;
}

.pagination .pagination-item.short.selected a {
  color: #fff;  
}

.pagination .pagination-item.short * {
  display: inline-block;
}

/* Used to display many pagination items */
.pagination .pagination-item.short {
  margin: .2rem;
  border-radius: .1rem;
  -webkit-flex: 0; /* Flex to fill */
  -ms-flex: 0;
  flex: 0;
}

/* Not good but CSS does not have heading selectors. Need to move to SASS */
.pagination .pagination-item:hover p,
.pagination .pagination-item:hover h1,
.pagination .pagination-item:hover h2,
.pagination .pagination-item:hover h3,
.pagination .pagination-item:hover h4,
.pagination .pagination-item:hover h5,
.pagination .pagination-item:hover h6,
.pagination .pagination-item:hover *:not([disabled]) {
  transition: all .3s;
  color: #f03d4d;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

/* Width CSS */
.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

@media screen and (min-width: 769px) {
  .level-right {
      margin-left: 1rem;
  }

  /* Keep all level children the same height */
  .level.fill-height {
      -webkit-box-align: stretch; /* Box Align and align items to stretch to make nav-items fill up parent height */
      -ms-flex-align: stretch;
      align-items: stretch;
      display: -webkit-box; 
      display: -ms-flexbox;
  }
}

/* MOBILE */
@media screen and (max-width: 768px) {
    .row {
      margin-top: 0;
    }

    .row [class^='col-']:not(.ignore-screen), .row [class*=" col-"]:not(.ignore-screen) { /* Remove the grid structure for smaller screens */
      width: 100%;
      margin-top: 1rem;
      margin-left: 0;
    }

    /* Increase space with cards */
    .fluid-container  [class^='col-']:not(.ignore-screen), .row [class*=" col-"]:not(.ignore-screen) {
      margin-top: 1rem;
    }

    .fluid-container {
      display: inherit;
    }

    /* Dividers for mobile layout */
    .divided >.fluid-container:not(.row), .divided >.row [class^='col-'] {
      box-shadow: 0 -1px 0 0 rgba(34,36,38,.15);
  }

  .level.ignore-screen, .level-left.ignore-screen, .level-right.ignore-screen {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
  }
}
