
.content {
  max-width: 60em;
  margin: 0 auto 1.5em;
  width: 80%;
}

.content blockquote {
  background-color: #f5f5f5;
  border-left: 5px solid #dbdbdb;
  padding: 1.5rem;
}

.content-fluid {
  width: 100%;
  margin: 1.3rem;
}

.fullscreen {
   top:0;
   right:0;
   bottom:0;
   left:0;
   height: 100vh;
}

/* This works well with panel */
section {
    display: block;
}

.panel {
    padding: 2.5em 0;
}

/* This works well with spans and maybe even hr */
.divider {
  display: block;
  height: 3px;
  position: relative;
  border-top: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #eee;
      width: 100%;
}

.divider-short {
  max-width: 15rem;
  width: 100%;
}

/* Hero image div */
.hero-img {
  /* Specify the backgroud image yourself */
  background-size: cover;
width: 100%;
height: 100%;
}

.parallax-img {
  background-attachment: fixed !important;
}

.hero { /* Parent of hero-body */
  -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; /* Important to stretch height of hero-body */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.hero-body {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; /* Tells the hero-body to take up the entire space */
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 3rem 1.5rem;
    -webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}

space {
  display: block;
  width: 100%;
  height: 1em;
}

/* Use for spacing out elements vertically */
.row {
  margin-top: 2.2833%;
  padding: 0 1.04165%; /* Space out top and sides */
}

.row:after {
  content: '';
  clear: both;
  display: table;
}

/* GRID */
.row .col-1 {
  width: 6.42291%;
}

.row .col-2 {
  width: 14.930208%;
}

.row .col-3 {
  width: 23.4375%;
}

.row .col-4 {
  width: 31.94375%;
}

.row .col-5 {
  width: 40.25%;
}

.row .col-6 {
  width: 48.958333%;
}

.row .col-7 {
  width: 57.464583%;
}

.row .col-8 {
  width: 65.970833%;
}

.row .col-9 {
  width: 74.404166%;
}

.row .col-10 {
  width: 82.9833%;
}

.row .col-11 {
  width: 91.489583%;
}

.row .col-12 {
  width: 100%;
}

/* Use in parent div of fluid col */
.fluid-container {
  display: flex;
}

.row .col-fluid {
  display: block;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}

/* Some offset values */
.row [class^='col-'], .row [class*=" col-"] {
  float: left; /* Keeps the elements in 1 row */
  min-height: 50px;
  margin-left: 2.083333%;
}

.row [class^='col-']:first-child, .row [class*=" col-"]:first-child{
  margin-left: 0;
}

/* Used for aligning contrls next to each other */
.row.has-controls {
      display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

/* Divider for multiple elements in a div */
.divided >.fluid-container:not(.row), .divided >.row [class^='col-'] {
    box-shadow: -1px 0 0 0 rgba(34,36,38,.15);
}

/* Remove border in first child */
.divided >.row [class^='col-']:first-child, .divided >.row [class^='col-']:first-child {
    box-shadow: none;
}

.level {
  -webkit-box-align: center;
-ms-flex-align: center;
-ms-grid-row-align: center;
align-items: center;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
}

.level-left {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; /* Start for left */
}

.level-right {
    -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; /* End for right */
}

.level-item { /* Centers items */
      -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


/* MOBILE */
@media screen and (max-width: 768px) {
  .row {
    margin-top: 0;
  }

  .row [class^='col-']:not(.ignore-screen), .row [class*=" col-"]:not(.ignore-screen) { /* Remove the grid structure for smaller screens */
    width: 100%;
    margin-top: 1rem;
    margin-left: 0;
  }

  /* Increase space with cards */
  .fluid-container  [class^='col-']:not(.ignore-screen), .row [class*=" col-"]:not(.ignore-screen) {
    margin-top: 1rem;
  }

  .fluid-container {
    display: inherit;
  }

  /* Dividers for mobile layout */
  .divided >.fluid-container:not(.row), .divided >.row [class^='col-'] {
    box-shadow: 0 -1px 0 0 rgba(34,36,38,.15);
}
}
