/* LISTS */

ul {
  list-style: disc inside;
}

ol {
  list-style: decimal inside;
}

/* Description lists */

dl, dd {
     margin-bottom: 1em;
}

li {
  margin: 1em 0;
}

li:last-child {
  margin-bottom: 1em;
}

/* MISC */
ul.no-bullets {
  list-style: none;
}