/* LISTS */

ul {
  list-style: disc inside;
  margin: 0.5rem 0 0.5rem 0.5rem;
}

ol {
  list-style: decimal inside;
  margin: 0.5rem 0 0.5rem 0.5rem;
}

/* Handle nesting */
ul ul, ol ul, ul ol, ol ol {
  margin: 1rem 0 1rem 1rem;
}

/* Nested list bullet types */
ul ul {
  list-style-type: circle;
}

ul ul ul {
  list-style-type: square;
}

ol ol {
  list-style: lower-alpha;
}

ol ol ol {
  list-style: upper-roman;
}

/* Description lists */

dl {
  margin: 1rem 0;
}

/* Detail title */
dt {
  font-weight: bold;
}

dd {
    margin-left: 1rem;
}

li {
  margin: 0.35rem 0;
}

/* Exclude margin in menus */
li:not('.dropdown-menu li'):last-child {
  margin-bottom: 1em;
}

/* MISC */
ul.no-bullets {
  list-style: none;
}

/* MENU LISTS */
.menu {
  font-size: 1rem;
}

ul.menu {
  list-style: none;
  margin: .5rem 0;
}

/* Style headers to have even space distribution. */
.menu-title:not(:first-child) {
  margin-bottom: 1rem;
}

.menu-title:not(:last-child) {
  margin-top: 1rem;
}

/* Style menu items */
.menu .menu-item a {
  color: #555;
  display: block;
  padding: 0.5em 0.75em;
  border-radius: 3px;
  font-size: 0.85rem;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.menu .menu-item:hover > a {
  background: rgba(208, 208, 208, 0.3);
  color: #d43644;
  -webkit-transition: all .2s;
  transition: all .2s;
  
}

.menu .menu-item.selected > a {
  color: #fff;
  background: #f03d4d;
}

.menu .menu-item .menu-addon {
  padding: 0.3rem;
  z-index: 1;
  position: relative;
  color: #374054;
  cursor: pointer;
  float: left;
  margin-right: .1rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

/* Darken on hover to differentiate from menu-item */
.menu .menu-item .menu-addon:hover {
  background-color: rgba(60, 60, 60, 0.25);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.menu .menu-item .menu-addon.right {
  float: right;
  margin-right: 0;
  margin-left: .1rem
}

.menu .menu-item.selected .menu-addon {
  color: #fff;
}

/* Style sub menus inside a menu */
.menu .menu-item ul {
    border-left: 1px solid #dbdbdb;
    margin: 0.75rem;
    padding-left: 0.75rem;
}

/* Menu item divider */
.menu .divider {
    border-top: .1rem solid #eee;
    height: .1rem;
    margin: 1rem 0;
}

/* Title for the section separated by the divider */
.menu .divider:after {
  content: attr(data-label); /* Text that will be displayed */
  background: #fff;
  color: #b7b7b7;
  display: inline-block;
  padding: 0 .7rem;
  margin: .5rem;
  font-size: .7rem;
  -webkit-transform: translateY(-1.1rem);
    transform: translateY(-1.1rem);
}

/* Dropdown menu for dropdown buttons */
.menu-dropdown {
  display: inline-block;
  position: relative;
}

.menu-dropdown .menu {
  position: absolute;
  top: 75%;
  left: 0;
  -webkit-animation: slide-down .2s ease 1;
  animation: slide-down .1s ease 1;
  background: #fff;
  border-radius: .2rem;
  -webkit-box-shadow: 0 0.1rem 0.4rem rgba(69, 77, 93, .3);
          box-shadow: 0 0.1rem 0.4rem rgba(69, 77, 93, .3);
  margin: 0;
  opacity: 0;
  min-width: 15rem;
  padding: 0.25rem 0.5rem;
  -webkit-transform: translateY(.5rem);
  transform: translateY(.5rem);
  z-index: 10;
  pointer-events: none; /* Remove pointer events to prevent mouse hover to show menu even though it is not visible */
  overflow: hidden;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.menu-dropdown.dropdown-right .menu {
  left: auto;
  right: 0;
}

/* Allow for shown and :focus selectors for JS and native CSS transitions */
.menu-dropdown.shown .menu,
.menu-dropdown .btn-dropdown:focus + .menu,
.menu-dropdown .menu:hover {
  display: block;
  opacity: 1;
  top: 100%;
  z-index: 100;
  pointer-events: auto; /* Restore pointer events */
  height: auto;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.menu-dropdown .btn-group .btn-dropdown:nth-last-child(2) {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

/* TREE */
/* Tree Navigation Menu */
.tree {
  margin: 0;
}

/* The title of the tree menu */
.tree .tree-item .tree-item-header {
  display: block;
  padding: .25rem .5rem;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: 600; /* Keep styling consistent with menu-items */
}

/* The dropdown glyph of the tree menu */
.tree .tree-item .tree-item-header .icon {
  -webkit-transition: all .2s;
  transition: all .2s;
}

/* Expand the tree-item-body (has menu-items) */
.tree .tree-item input:checked ~ .tree-item-body {
  max-height: 100vh;
}

/* Rotate the dropdown glyph */
.tree .tree-item input:checked ~ .tree-item-header .icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/* Container for the menu-items of the tree menu */
.tree .tree-item .tree-item-body {
  max-height: 0; /* Hidden at first */
  margin-left: 1.5rem;
  overflow: hidden;
  -webkit-transition: all .2s;
  transition: all .2s;
}

/* TODO: Docs */
/* The body that will encompass the tree-nav and tree-nav-content */
.tree-nav-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

/* A fixed menu on the side with a tree component */
.tree-nav {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding: 2rem 1rem 2rem 2rem;
  min-width: 15rem;
  height: 100vh;
  overflow: auto;
}

/* The container for the tree component to prevent it from overflowing */
.tree-nav .tree-nav-container {
  overflow-y: auto;
  top: 4rem;
  bottom: 1rem;
}

/* Darkened area that will close the navbar when clicked for mobile only */
.tree-nav + .tree-nav-close {
  display: none; /* Not needed in desktop */
}

/* Push document body further right to account for sidebar space */
.tree-nav + .tree-nav-content {
    max-width: 100%;
    padding: 2rem;
    -ms-flex: 1 0 auto;
    -webkit-box-flex: 1;
            flex: 1 0 auto;
    overflow: auto;
    margin: 0;
}

/* The body where all other HTML components are entered if a tree-nav is used */
.tree-nav-content {
  width: 100%;
  overflow: auto;
  margin: 0;
  padding: 2rem;
}

/* Decrease font-weight in tree-nav menu-items */
.tree-item-body .menu .menu-item a {
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  /* Hide the menu to the side by default */
  .tree-nav {
    height: 100%;
    left: 0;
    overflow-y: auto;
    padding: 3rem 1.5rem;
    position: fixed;
    top: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: transform .2s ease, -webkit-transform .2s ease;
    -webkit-transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: -webkit-transform .2s ease;
    z-index: 400;
  }

  /* Open the menu from the side */
  /* Use a link and add the id of this element as the url */
  .tree-nav:target {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    transition: transform .2s ease, -webkit-transform .2s ease;
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
  }

  /* Create the area to click to close the menu */
  .tree-nav .tree-nav-close {
    background: rgba(0, 0, 0, .15);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 300;
  }

  /* Show the darkened area when the tree nav menu is clicked */
  .tree-nav:target + .tree-nav-close {
    display: block;
    background: rgba(0, 0, 0, .15);
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 300;
  }

  /* Reset max-width in mobile */
  .tree-nav + .tree-nav-body {
    max-width: inherit;
  }

  /* Header bar for mobile websites with the tree-nav */
  .tree-nav-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(248, 249, 250, .8);
    height: 3.5rem;
    padding: .75rem .5rem;
    text-align: center;
    z-index: 300;
  }
}