/* MEDIA CSS */
/* Handles images, videos, figures, etc */

/* Altered, originally just video in 0.4.6 */
video.video-fullscreen {
  position: absolute;
  height: 100vh;
  object-fit: cover;
  width: 100%;
  z-index: -1;
}

/* Add to parent container to make media child fill container */
.media-stretch {
    display: block;
    padding: 0;
    overflow: hidden;
    width: 100%;
    position: relative;
}

/* Add pseudoclass to allow media to have height (default height is 0) */
.media-stretch::before {
    content: "";
    display: block;
    padding-bottom: 56.25%; /* 9 / 16  for 16:9 ratio */
}

/* Force media embed to fill parent container */
.media-stretch iframe,
.media-stretch embed,
.media-stretch object {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%; /* Make sure media does exceed or go under boundary limit */
    height: 100%;
}

/* For HTML5 video objects */
.media-stretch video {
    height: auto;
    max-width: 100%;
    width: 100%;
}

/* Alternate media ratios */
.media-stretch.rat-4-3::before {
    padding-bottom: 75%;
}

.media-stretch.rat-1-1::before {
    padding-bottom: 100%;
}

/* FIGURES */
/* For flexible media display */
.fig {
    margin: 0 0 0.5rem 0; /* Small margin at the bottom */
}

.fig .fig-caption {
    margin-top: 1rem;
}

/* IMAGES */
.img-stretch {
    max-width: 100%;
    height: auto;
    display: block;
}

.img-cover {
    object-fit: cover;
}

.img-contain {
    object-fit: contain;
}

/* Avatar */
.avatar {
    border-radius: 50%;
    position: relative;
    display: block;
    margin: auto;
    font-size: 1rem;
    font-weight: lighter;
    width: 3.2rem;
    height: 3.2rem;
    background-color: #f03d4d;
    overflow: hidden;
}

/* Draw text on image just like in Gmail */
.avatar:before {
    content: attr(data-text);
    color: #fff;
    /* Removed z-index: 1, makes text blurry */
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.avatar.img-xsmall {
    font-size: .8rem;
    width: 1.6rem;
    height: 1.6rem;
}

.avatar.img-small {
    font-size: 1rem;
    height: 2.4rem;
    width: 2.4rem;
}

.avatar.img-large {
    font-size: 2rem;
    height: 4.8rem;
    width: 4.8rem;
}

.avatar.img-xlarge {
    font-size: 2.6rem;
    height: 6.4rem;
    width: 6.4rem;
}

.avatar img.padded {
    padding: .5rem;
    width: 100%;
}