/* PLACEHOLDER */
/* Designed to be embedded in any parent container as placeholder when content is absent. */

.placeholder {
    background: rgba(231, 234, 241, 0.5);
    border-radius: 3px;
    text-align: center;
    padding: 3rem 2rem;
    color: #6c7892; /* Lighter than original text color */
    display: block;
}

/* Not sure if needed */
.placeholder-icon {
    text-align: center;
}

.placeholder .placeholder-title,
.placeholder .placeholder-subtitle {
    margin: 1rem auto;
}

.placeholder .placeholder-subtitle {
    opacity: 0.7;
    margin: 0 !important;
}

/* Place buttons here for the placeholder */
.placeholder .placeholder-commands {
    margin-top: 1rem;
}