/* TABS AND TAB CONTAINER */
.tab-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: auto; /* Allow scrollbar to be visible if the width of the tabs exeeds container */
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    white-space: nowarp;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    font-size: 0.85rem;
}

/* Tabs are embedded inside an unordered list */
.tab-container ul {
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; /* Move tab items to left side  */
    display: -webkit-box; /* Flow the elements */
    margin: 0.5rem; /* Override the behavior for standard ul and add equal padding */
    border-bottom: 1px solid #eee; /* Bottom border of tabs */
    list-style: none;
}

.tab-container li {
    display: block; /* Keep the tabs from extending too far */
    cursor: pointer;
    margin: 0;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0;
    flex: 1 0 0;
    text-align: center;
}

.tab-container li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #eee;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.5rem 1rem;
    -webkit-transition: all .3s;
    transition: all .3s;
    color: #374054;
    display: block;
    border-bottom-color: rgba(197, 197, 197, 0.63);
    border-width: 2px;
    margin-bottom: -1px; /* Get rid of any remaining border lines */
    background: #fff;
}

.tab-container li:hover a {
    border-bottom-color: rgba(240, 61, 77, 0.6);
    -webkit-transition: all .3s;
    transition: all .3s;
}

.tab-container li.selected a {
    border-bottom-color: #f03d4d;
    color: #f03d4d;
    border-width: 2px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

/* Shift tabs to the center */
.tab-container.tabs-center ul {
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

/* Shift tabs to the right */
.tab-container.tabs-right ul {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

/* Depth tab styles */
.tab-container.tabs-depth ul {
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
    border-bottom: 0;
}

/* Classic tab styles */
.tab-container.tabs-classic ul {
    border-bottom-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-radius: 3px 3px 0 0; /* Only round the top left and right corners */
    -webkit-transition: all .3s;
    transition: all .3s;
}

.tab-container.tabs-classic li:not(.selected) a:hover {
    background: rgb(240, 240, 240);
    -webkit-transition: all .3s;
    transition: all .3s;
}

.tab-container.tabs-classic li a {
    border: 1px solid transparent;
    border-bottom-color: #dbdbdb;
    border-radius: 3px 3px 0 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.tab-container.tabs-classic li.selected a {
    color: #f03d4d;
    border-color: #dbdbdb;
    border-bottom-color: transparent !important;
}

/* Tabs that fill the width */
.tab-container.tabs-fill li {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0; /* Disable shrinking to original width */
}

/* Override the -webkit-box display that sizes tab items based on text */
.tab-container.tabs-fill ul {
    display: flex; /* Equal size tabs */
}

/* Different tab sizes */
.tab-container.tabs-xsmall {
    font-size: 0.6rem;
}

.tab-container.tabs-small {
    font-size: 0.75rem;
}

.tab-container.tabs-large {
    font-size: 1.25rem;
}

.tab-container.tabs-xlarge {
    font-size: 1.5rem;
}

/* Font Awesome Integration */
.tab-container .icon:first-child { /* Left icon */
    margin-right: .75rem;
}

.tab-container .icon:last-child { /* Right icon */
    margin-left: .75rem;
}

/* IN PROGERSS */