/* TABS AND TAB CONTAINER */
.tab-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: auto; /* Allow scrollbar to be visible if the width of the tabs exeeds container */
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    white-space: nowarp;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}

/* Tabs are embedded inside an unordered list */
.tabs ul {
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; /* Move tab items to left side  */
    display: -webkit-box; /* Flow the elements */
    border-bottom: 1px solid #eee; /* Bottom border of tabs */
}

.tabs li {
    display: block; /* Keep the tabs from extending too far */
}

.tabs li a {

}

.tabs li a.selected {
    
}