.toast {
    display: block;
    width: 100%;
    padding: 1rem;
    background: rgba(49, 59, 80, 0.9);
    border: 1px solid #313b50;
    border-radius: 2px;
    color: #fff;
    position: relative;
    margin: 0.5rem;
}

.toast p {
    margin: 0;
}

.toast.translucent {
    opacity: .5;
}

.toast.translucent:hover {
    opacity: 1;
}

.toast .btn-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
}       

/* TOAST TYPES */
.toast.primary {
    background: rgba(240, 61, 77, 0.9);
    border-color: #f03d4d;
}

.toast.success {
    background: rgba(64, 179, 84, 0.9);
    border-color: #40b354;
}

.toast.warning {
    background: rgba(255, 204, 0, 0.9);
    border-color: #ffcc00;
}

.toast.error {
    background: rgba(255, 59, 48, 0.9);
    border-color: #ff3b30;
}

/* Add the rest later */

.toast a {
    color: #fff;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.toast a:hover {
    opacity: .8;
    transition: all .3s;
}

