.toast {
    display: block;
    width: 100%;
    padding: .75rem 1.25rem;
    background-color: rgba(49, 59, 80, 0.9);
    border: 1px solid #313b50;
    border-radius: 2px;
    color: #fff;
    position: relative;
    margin: 0.5rem;
}

.toast h1, .toast h2, .toast h3, .toast h4, .toast h5, .toast h6 {
    margin: 0;
    margin-top: 1rem;
}

.toast p {
    margin: 0;
}

.toast.translucent {
    opacity: .5;
}

.toast.translucent:hover {
    opacity: 1;
}

.toast .btn-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
}       

/* TOAST TYPES */
.toast.primary {
    background-color: rgba(240, 61, 77, 0.9);
    border-color: var(--cirrus-primary);
}

.toast.success {
    background-color: var(--toast-success-bg);
    border-color: var(--toast-success-border);
}

.toast.warning {
    background-color: var(--toast-warning-bg);
    border-color: var(--toast-warning-border);
}

.toast.error {
    background-color: var(--toast-error-bg);
    border-color: var(--toast-error-border);
}

/* Add the rest later */
.toast a {
    color: #fff;
    transition: all .3s;
}

.toast a:hover {
    opacity: .8;
    transition: all .3s;
}

