/* UTILS */
/* Utility classes to help solve some very annoying issues */

.this-inline {
  display: inline;
}

.this-inline-block {
  display: inline-block;
}

.this-inline-flex {
  display: -webkit-inline-bpx;
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
}

.this-block {
  display: block;
}

/*
   When using floats, clearfix allows the container to automatically resize so that
   other elements are not blocked by children.
*/

.clearfix:after {
  clear: both;
  content: " ";
  display: table;
}

/* This is mainly to keep elements from overlapping when using floats */
.clear-left {
  clear: left;
}

.clear-right {
  clear: right;
}

.clear-both {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-center {
  text-align: center;
}

/* Center element - best used for hero bodies or text */
.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
      margin: 0 auto;
  flex-wrap: wrap;
}

.center-alt, .center-alt:hover, .center-alt:active { /* If flexbox method fails, this works for elements with unknown dimensions */
  position: absolute;
 top: 50%;
 left: 50%;
 -webkit-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
}

.vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
          align-items: center;
  vertical-align: middle;
}

.horizontal-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.this-overlay {
  bottom:0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
}

.hide-overflow {
  overflow: hidden !important;
  overflow-x: hidden;
  overflow-y: hidden;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.hide {
  display: none !important;
}

.disabled {
  cursor: not-allowed;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.box {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  display: block;
  padding: 1rem;
}

.box:not(:last-child) {
  margin-bottom: 1rem;
}

.fill-width {
  width: 100%
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

/* Round the corners of the element */
.round {
  border-radius: .1rem;
}

/* Turns element into a circle */
.circle {
  border-radius: 50%;
}

/* Responsiveness and Element Hiding */

/* Do the actual balancing only on larger screens */
@media screen and (min-width: 769px) {
.level, .level-left, .level-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* Hide elements based on screen size */
@media screen and (max-width: 450px) {
  .hide-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  /* Hide on devices that are tablets or smaller */
  .hide-tablet {
    display: none !important;
  }
}

@media screen and (min-width: 451px) and (max-width: 768px) {
  .hide-tablet-only {
    display: none !important;
  }
}

@media screen and (min-width: 769px) {
  /* Hide element on laptops, desktops, etc */
  .hide-desktop {
    display: none !important;
  }
}
