@use '../internal' as *;

/* A collection of modifiers that extend control styling */
#{$button-selectors} {
    &.btn--pilled {
        border-radius: 6.25rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    /* btn--circle: contents must be placed inside child element */
    &.btn--circle {
        border-radius: 100%;
        min-width: 60px;
        overflow: hidden;
        padding: 0;
        text-align: center;

        &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            padding-top: 100%;
        }

        * {
            display: inline;
            max-width: 90%;
            vertical-align: middle;
            white-space: pre-wrap;
        }
    }
}

/* Input (primary text-based) controls apply to inputs */
.input-control--pilled {
    border-radius: 6.25rem !important;
}

/* Theme modifiers */

/* GLOBAL THEME SELECTORS */
/* v1 */

@include utility-with-body($generate-viewports: 'false', $override: '!important', $prefix: '') using
    ($variant-prefix, $prefix, $common-class, $delimiter, $key, $suffix-str, $variant-suffix, $override) {
    @each $name, $color in $semantic-colors {
        @if $color != null {
            .#{$variant-prefix}#{$prefix}bg-#{$name}#{$suffix-str}#{$variant-suffix} {
                --btn-color: #{hex-to-rgb($color)};
                // Not important, use this as a fallback in case no border is set
                --btn-shadow: 0 0 0 0.2rem #{transparentize($color, 0.5)};

                background-color: rgba(#{hex-to-rgb($color)}, var(--bg-opacity)) !important;
            }

            .#{$variant-prefix}#{$prefix}text-#{$name}#{$suffix-str}#{$variant-suffix} {
                --btn-fg: #{hex-to-rgb($color)};
                --btn-border-color: #{hex-to-rgb($color)};

                color: rgba(#{hex-to-rgb($color)}, var(--color-opacity)) !important;
                // Not important, use this as a fallback in case no border is set
                border-color: rgba(#{hex-to-rgb($color)}, var(--border-opacity));
            }

            .#{$variant-prefix}#{$prefix}border-#{$name}#{$suffix-str}#{$variant-suffix} {
                --btn-border-color: #{hex-to-rgb($color)};
                --btn-shadow: 0 0 0 0.2rem #{transparentize($color, 0.5)} !important;

                border-color: rgba(#{hex-to-rgb($color)}, var(--border-opacity)) !important;
            }
        }
    }
}

.bg-transparent {
    background-color: transparent !important;
}

.text-transparent {
    border-color: transparent !important;
    color: transparent !important;
}

/* v2 */

@include utility-with-body($generate-viewports: 'false', $override: '!important', $prefix: '') using
    ($variant-prefix, $prefix, $common-class, $delimiter, $key, $suffix-str, $variant-suffix, $override) {
    @each $name, $palette in $v2Colors {
        @each $level, $color in $palette {
            @if $color != null {
                .#{$variant-prefix}#{$prefix}bg-#{$name}-#{$level}#{$suffix-str}#{$variant-suffix} {
                    &:is(#{$button-selectors}) {
                        --btn-color: #{hex-to-rgb($color)};
                        --btn-hover-color: #{hex-to-rgb(to-hover-color($color, 5%))} !important;
                        // Not important, use this as a fallback in case no border is set
                        --btn-shadow: 0 0 0 0.2rem #{transparentize($color, 0.5)};
                    }

                    &:not(#{$button-selectors}) {
                        background-color: rgba(#{hex-to-rgb($color)}, var(--bg-opacity)) !important;
                    }
                }

                .#{$variant-prefix}#{$prefix}text-#{$name}-#{$level}#{$suffix-str}#{$variant-suffix} {
                    --btn-fg: #{hex-to-rgb($color)};
                    --btn-border-color: #{hex-to-rgb($color)};

                    color: rgba(#{hex-to-rgb($color)}, var(--color-opacity)) !important;
                    // Not important, use this as a fallback in case no border is set
                    border-color: rgba(#{hex-to-rgb($color)}, var(--border-opacity));
                }

                .#{$variant-prefix}#{$prefix}border-#{$name}-#{$level}#{$suffix-str}#{$variant-suffix} {
                    --btn-border-color: #{hex-to-rgb($color)} !important;
                    --btn-shadow: 0 0 0 0.2rem #{transparentize($color, 0.5)};

                    border-color: rgba(#{hex-to-rgb($color)}, var(--border-opacity)) !important;
                }
            }
        }
    }
}
