@use '../internal' as *;

@include utility-with-body($prefix: '', $generate-viewports: 'true', $override: '!important') using
    ($variant-prefix, $prefix, $common-class, $delimiter, $key, $suffix-str, $variant-suffix, $override) {
    @each $class, $size in $spacing-system {
        /* Margin */
        .#{$variant-prefix}#{$prefix}m#{$delimiter}#{$class}#{$suffix-str} #{$variant-suffix}{
            margin: $size #{$override};
        }
        .#{$variant-prefix}#{$prefix}mt#{$delimiter}#{$class}#{$suffix-str},
        .#{$variant-prefix}#{$prefix}my#{$delimiter}#{$class}#{$suffix-str} #{$variant-suffix}{
            margin-top: $size #{$override};
        }
        .#{$variant-prefix}#{$prefix}mb#{$delimiter}#{$class}#{$suffix-str},
        .#{$variant-prefix}#{$prefix}my#{$delimiter}#{$class}#{$suffix-str} #{$variant-suffix}{
            margin-bottom: $size #{$override};
        }
    
        .#{$variant-prefix}#{$prefix}ml#{$delimiter}#{$class}#{$suffix-str},
        .#{$variant-prefix}#{$prefix}mx#{$delimiter}#{$class}#{$suffix-str} #{$variant-suffix}{
            margin-left: $size #{$override};
        }
        .#{$variant-prefix}#{$prefix}mr#{$delimiter}#{$class}#{$suffix-str},
        .#{$variant-prefix}#{$prefix}mx#{$delimiter}#{$class}#{$suffix-str} #{$variant-suffix}{
            margin-right: $size #{$override};
        }
    
        /* Spacing */
        .#{$variant-prefix}#{$prefix}p#{$delimiter}#{$class}#{$suffix-str} #{$variant-suffix}{
            padding: $size #{$override};
        }
    
        .#{$variant-prefix}#{$prefix}pt#{$delimiter}#{$class}#{$suffix-str},
        .#{$variant-prefix}#{$prefix}py#{$delimiter}#{$class}#{$suffix-str} #{$variant-suffix}{
            padding-top: $size #{$override};
        }
        .#{$variant-prefix}#{$prefix}pb#{$delimiter}#{$class}#{$suffix-str},
        .#{$variant-prefix}#{$prefix}py#{$delimiter}#{$class}#{$suffix-str} #{$variant-suffix}{
            padding-bottom: $size #{$override};
        }
    
        .#{$variant-prefix}#{$prefix}pl#{$delimiter}#{$class}#{$suffix-str},
        .#{$variant-prefix}#{$prefix}px#{$delimiter}#{$class}#{$suffix-str} #{$variant-suffix}{
            padding-left: $size #{$override};
        }
        .#{$variant-prefix}#{$prefix}pr#{$delimiter}#{$class}#{$suffix-str},
        .#{$variant-prefix}#{$prefix}px#{$delimiter}#{$class}#{$suffix-str} #{$variant-suffix}{
            padding-right: $size #{$override};
        }
    }

    .#{$variant-prefix}#{$prefix}ml-auto#{$suffix-str},
    .#{$variant-prefix}#{$prefix}mx-auto#{$suffix-str} #{$variant-suffix}{
        margin-left: auto #{$override};
    }
    
    .#{$variant-prefix}#{$prefix}mr-auto#{$suffix-str},
    .#{$variant-prefix}#{$prefix}mx-auto#{$suffix-str} #{$variant-suffix}{
        margin-right: auto #{$override};
    }
    
    .#{$variant-prefix}#{$prefix}mt-auto#{$suffix-str},
    .#{$variant-prefix}#{$prefix}my-auto#{$suffix-str} #{$variant-suffix}{
        margin-top: auto #{$override};
    }
    
    .#{$variant-prefix}#{$prefix}mb-auto#{$suffix-str},
    .#{$variant-prefix}#{$prefix}my-auto#{$suffix-str} #{$variant-suffix}{
        margin-bottom: auto #{$override};
    }
}

