name: CI

on:
  push:
    branches:
      - master
      - feature/*
      - hotfix/*
  pull_request:
    branches:
      - master

jobs:
  build:
    strategy:
      matrix:
        node_version:
          - 12
          - 14
        os:
          # - macos
          - ubuntu
          # - windows

    name: build (${{ matrix.os }}/go-${{ matrix.node_version }})
    runs-on: ${{ matrix.os }}-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Install Node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node_version }}
          cache: 'npm'

      - name: Install Dependencies
        run: npm install

      - name: Run Gulp
        run: gulp