// _generator.scss unit tests
@use '../test_base' as *;

@use '../../src/internal/generator';
@use '../../src/internal/mixins';

@include describe('utility()') {
    @include it('should generate expected utility classes with variant support') {
        @include assert {
            @include output {
                @include generator.utility(
                    $common-class-name: 'text',
                    $class-value-pairs: (
                        'blue': (
                            'color': blue,
                        ),
                    ),
                    $variants: (
                        'hover',
                        'dark',
                        'reduce-motion',
                    ),
                    $generate-viewports: 'true',
                    $override: '!important'
                );
            }
            @include expect {
                .u-text-blue {
                    color: blue !important;
                }

                .hover\:u-text-blue:hover {
                    color: blue !important;
                }

                @media (prefers-color-scheme: dark) {
                    .dark\:u-text-blue {
                        color: blue !important;
                    }
                }

                @media (prefers-reduced-motion: reduce) {
                    .reduce-motion\:u-text-blue {
                        color: blue !important;
                    }
                }

                @media screen and (min-width: 640px) {
                    .u-text-blue-sm {
                        color: blue !important;
                    }

                    .hover\:u-text-blue-sm:hover {
                        color: blue !important;
                    }
                }

                @media screen and (min-width: 640px) and (prefers-color-scheme: dark) {
                    .dark\:u-text-blue-sm {
                        color: blue !important;
                    }
                }

                @media screen and (min-width: 640px) and (prefers-reduced-motion: reduce) {
                    .reduce-motion\:u-text-blue-sm {
                        color: blue !important;
                    }
                }

                @media screen and (min-width: 768px) {
                    .u-text-blue-md {
                        color: blue !important;
                    }

                    .hover\:u-text-blue-md:hover {
                        color: blue !important;
                    }
                }

                @media screen and (min-width: 768px) and (prefers-color-scheme: dark) {
                    .dark\:u-text-blue-md {
                        color: blue !important;
                    }
                }

                @media screen and (min-width: 768px) and (prefers-reduced-motion: reduce) {
                    .reduce-motion\:u-text-blue-md {
                        color: blue !important;
                    }
                }

                @media screen and (min-width: 1024px) {
                    .u-text-blue-lg {
                        color: blue !important;
                    }

                    .hover\:u-text-blue-lg:hover {
                        color: blue !important;
                    }
                }

                @media screen and (min-width: 1024px) and (prefers-color-scheme: dark) {
                    .dark\:u-text-blue-lg {
                        color: blue !important;
                    }
                }

                @media screen and (min-width: 1024px) and (prefers-reduced-motion: reduce) {
                    .reduce-motion\:u-text-blue-lg {
                        color: blue !important;
                    }
                }

                @media screen and (min-width: 1280px) {
                    .u-text-blue-xl {
                        color: blue !important;
                    }

                    .hover\:u-text-blue-xl:hover {
                        color: blue !important;
                    }
                }

                @media screen and (min-width: 1280px) and (prefers-color-scheme: dark) {
                    .dark\:u-text-blue-xl {
                        color: blue !important;
                    }
                }

                @media screen and (min-width: 1280px) and (prefers-reduced-motion: reduce) {
                    .reduce-motion\:u-text-blue-xl {
                        color: blue !important;
                    }
                }
            }
        }
    }
}
